<ol>
    <li>
        Directiva Europea de residuos 2008/98 CE.
    </li>
    <li>
        2. Real Decreto 105/2008 de producción y gestión de RCD.
    </li>
    <li>
        Ley 22/2011 de residuos y suelos contaminados
    </li>
    <li>
        Plan Estatal Marco de Residuos PEMAR 2016-2022
    </li>
    <li>
        5. Orden APM/1007/2017, de 10 de octubre, sobre normas generales de
        valorización de materiales naturales excavados para su utilización en
        operaciones de relleno y obras distintas a aquéllas en las que se
        generaron.
    </li>
    <li>
        Real Decreto 180/2015 de transporte de residuos
    </li>
    <li>
        Legislaciones de las Comunidades Autónomas en España.
    </li>
    <li>
        Nuevas legislaciones sobre RCD en países emergentes.
    </li>
</ol>
<p>
    Esté Capítulo referencia los artículos mas importantes de la legislación y
    realiza comentarios aclaratorios, se puede descargar la legislación
    completa de cada capítulo en los enlaces referenciados.
</p>
<p>
    <strong>2.1 Directiva Europea de residuos 2008/98CE.</strong>
</p>
<p>
    <a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-2008-82319">
        https://www.boe.es/buscar/doc.php?id=DOUE-L-2008-82319
    </a>
</p>
<p>
    La Directiva 2008/98/CE del Parlamento Europeo y del Consejo, de 19 de
    noviembre de 2008, sobre los residuos establece el marco jurídico de la
    Unión Europea para la gestión de los residuos, proporciona los instrumentos
    que permiten disociar la relación existente entre crecimiento económico y
    producción de residuos, haciendo especial hincapié en la prevención,
    entendida como el conjunto de medidas adoptadas antes de que un producto se
    convierta en residuo, para reducir tanto la cantidad y contenido en
    sustancias peligrosas como los impactos adversos sobre la salud humana y el
    medio ambiente de los residuos generados. Así incorpora el principio de
    jerarquía en la producción y gestión de residuos que ha de centrarse en la
    prevención, la preparación para la reutilización, el reciclaje u otras
    formas de valorización, incluida la valorización energética y aspira a
    transformar la Unión Europea en una «sociedad del reciclado» y contribuir a
    la lucha contra el cambio climático.
</p>
<p>
    Dentro de esta normativa destacamos:
</p>
<p>
    Artículo 4, Jerarquía de residuos
</p>
<p>
    1. La siguiente jerarquía de residuos servirá de orden de prioridades en la
    legislación y la política sobre la prevención y la gestión de los residuos:
</p>
<p>
    a) Prevención.
</p>
<p>
    b) Preparación para la reutilización.
</p>
<p>
    c) Reciclado.
</p>
<p>
    d) Otro tipo de valorización (energética).
</p>
<p>
    e) Eliminación.
</p>
<p>
    Foto 1
</p>
<p>
    2. Cuando se aplique la jerarquía de residuos, los Estados miembros
    adoptarán medidas para estimular las opciones que proporcionen el mejor
    resultado medioambiental global. Ello puede requerir que determinados
    flujos de residuos se aparten de la jerarquía, cuando esté justificado por
    un enfoque de ciclo de vida sobre los impactos globales de la generación y
    gestión de dichos residuos.
</p>
<p>
    Los Estados miembros garantizarán que el desarrollo de la legislación y
    política de residuos sea un proceso plenamente transparente, en el que se
    observen las normas nacionales relativas a la consulta y participación de
    los ciudadanos y las partes interesadas.
</p>
<p>
    Comentario:
</p>
<p>
    La prevención se conseguiría alargando al máximo la vida de las
    construcciones, esto se consigue usando materiales de calidad, utilizando
    métodos constructivos adecuados y cuidando las infraestructuras existentes.
</p>
<p>
    La preparación para la reutilización puede hacerse reutilizando puertas,
    ventanas, lavamanos, bañeras, etc… Para conseguir esto es necesario
    realizar una correcta deconstrucción cuidando no dañar estas estructuras.
</p>
<p>
    El reciclado consiste en la utilización de los RCD como materia prima en la
    fabricación de áridos reciclados y la separación de subproductos (Plástico,
    papel, metales, etc. …) que son usados como materias primas en la
    elaboración de múltiples productos.
</p>
<p>
    En cuanto a la otro tipo de valorización podemos destacar:
</p>
<ul>
    <li>
        La energética, los RCD contienen múltiples subproductos con alto poder
        calorífico que pueden ser usados como combustibles en cementeras,
        plantas de producción eléctrica, etc...
    </li>
    <li>
        Otras utilidades que los RCD vienen desempeñando actualmente y que se
        considera como valorización es el uso de los RCD como materiales de
        relleno en huecos mineros, esta actividad actualmente está en proceso
        de regulación, para que los materiales usados sean idóneos tanto en su
        composición química como física.
    </li>
    <li>
        Actualmente en España ningún residuo susceptible de ser reciclado debe
        ser eliminado, para evitar esto todos los RCD deben pasar primero por
        una planta de reciclado antes de su eliminación en vertedero.
    </li>
</ul>
<p>
    Artículo 5, Subproductos
</p>
<p>
    1. Una sustancia u objeto, resultante de un proceso de producción, cuya
    finalidad primaria no sea la producción de esa sustancia u objeto, puede
    ser considerada como subproducto y no como residuo, únicamente si se
    cumplen las siguientes condiciones:
</p>
<p>
    a) Es seguro que la sustancia u objeto va a ser utilizado ulteriormente;
</p>
<p>
    b) La sustancia u objeto puede utilizarse directamente sin tener que
    someterse a una transformación ulterior distinta de la práctica industrial
    normal.
</p>
<p>
    c) la sustancia u objeto se produce como parte integrante de un proceso de
    producción.
</p>
<p>
    d) el uso ulterior es legal, es decir la sustancia u objeto cumple todos
    los requisitos pertinentes para la aplicación específica relativos a los
    productos y a la protección del medio ambiente y de la salud, y no
    producirá impactos generales adversos para el medio ambiente o la salud
    humana.
</p>
<p>
    2. Podrán adoptarse medidas para determinar los criterios que deberán
    cumplir las sustancias u objetos específicos para ser considerados como
    subproductos y no como residuos.
</p>
<p>
    Comentario:
</p>
<ul>
    <li>
        Las empresas que realizan labores de reciclaje de RCD pueden obtener
        entradas adicionales a su facturación gracias a los subproductos
        generados en el proceso de reciclaje, entre los subproductos que
        podemos encontrar están el plástico, papel, madera, metales, entre
        otros.
    </li>
</ul>
<p>
    Artículo 6, Fin de la condición de residuo
</p>
<p>
    1. Determinados residuos específicos dejarán de ser residuos, cuando hayan
    sido sometidos a una operación, incluido el reciclado, de valorización y
    cumplan los criterios específicos que se elaboren, con arreglo a las
    condiciones siguientes:
</p>
<p>
    a) la sustancia u objeto se usa normalmente para finalidades específicas.
</p>
<p>
    b) existe un mercado o una demanda para dicha sustancia u objeto.
</p>
<p>
    c) la sustancia u objeto satisface los requisitos técnicos para las
    finalidades específicas, y cumple la legislación existente y las normas
    aplicables a los productos.
</p>
<p>
    d) el uso de la sustancia u objeto no generará impactos adversos globales
    para el medio ambiente o la salud.
</p>
<p>
    Los criterios incluirán valores límite para las sustancias contaminantes
    cuando sea necesario y deberán tener en cuenta todo posible efecto
    medioambiental nocivo de la sustancia u objeto.
</p>
<p>
    Comentario:
</p>
<ul>
    <li>
        Actualmente en España los áridos y materiales reciclados no están
        considerando como un producto hasta que no hayan sido utilizados como
        materiales de construcción o de relleno en huecos mineros. Esto genera
        que el gestor de RCD tenga menos tiempo de almacenaje de sus productos,
        teniendo que darles salida máximo en 2 años ya que este es el tiempo
        estipulado para el almacenaje de residuos no peligrosos que van a ser
        utilizados en valorización, para que un árido reciclado sea reconocido
        como un producto deberá tener un marcado de calidad del producto, en el
        caso de la Unión Europea el marcado CE de los áridos es una herramienta
        muy valiosa tanto para la comercialización de los áridos reciclados
        como de su condición de fin de residuo.
    </li>
</ul>
<p>
    Artículo 11, Reutilización y reciclado
</p>
<p>
    1. Los Estados miembros tomarán las medidas que procedan para fomentar la
    reutilización de los productos y las actividades de preparación para la
    reutilización, promoviendo el establecimiento y apoyo de redes de
    reutilización y reparación, el uso de instrumentos económicos, los
    requisitos de licitación, los objetivos cuantitativos u otras medidas.
</p>
<p>
    Los Estados miembros tomarán medidas para fomentar un reciclado de alta
    calidad y, a este fin, establecerán una recogida separada de residuos,
    cuando sea técnica, económica y medioambientalmente factible y adecuada,
    para cumplir los criterios de calidad necesarios para los sectores de
    reciclado correspondientes.
</p>
<p>
    2. Con objeto de cumplir los objetivos de la presente Directiva y de
    avanzar hacia una sociedad europea del reciclado con un alto nivel de
    eficiencia de los recursos, los Estados miembros deberán adoptar las
    medidas necesarias para garantizar que se logran los siguientes objetivos:
</p>
<p>
    b) antes de 2020, deberá aumentarse hasta un mínimo del 70 % de su peso la
    preparación para la reutilización, el reciclado y otra valorización de
    materiales, incluidas las operaciones de relleno que utilicen residuos como
    sucedáneos de otros materiales, de los residuos no peligrosos procedentes
    de la construcción y de las demoliciones, con exclusión de los materiales
    presentes de modo natural definidos en la categoría 17 05 04 de la lista de
    residuos.
</p>
<p>
    Comentario:
</p>
<ul>
    <li>
        Sin la participación activa de la administración no será posible
        generar salida a todos los áridos y materiales reciclados producidos,
        esto se consigue con incentivos a las empresas que utilicen estos
        materiales, o la obligatoriedad del uso de estos productos en obras en
        las que estos cumplan los requerimientos técnicos.
    </li>
</ul>
<p>
    <strong>
        2.2 Real Decreto 105/2008, de 1 de febrero, por el que se regula la
        Producción y Gestión de los Residuos de Construcción y Demolición el
        sistema de fianzas y control por los Ayuntamientos.
    </strong>
</p>
<p>
    <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2008-2486">
        https://www.boe.es/buscar/doc.php?id=BOE-A-2008-2486
    </a>
</p>
<p>
    La gestión de los RCD en España esta legislada actualmente por el Real
    Decreto 105/2008 sobre gestión y tratamiento de residuos de construcción y
    demolición, el RD establece la figura del Productor y el control de los RCD
    mediante el sistema de FIANZA obligatoria por cada licencia de obras, la
    mayoría de las Comunidades Autónomas tienen transposiciones del RD, son los
    Ayuntamientos quienes por medio de sus ordenanzas municipales deben aplican
    sus disposiciones
</p>
<p>
    <em>
        Comentario: Este Real Decreto pretende evitar los impactos ambientales
        producidos por la mala gestión de los RCD, la contaminación de suelos y
        acuíferos en vertederos incontrolados, el deterioro paisajístico y la
        eliminación de estos residuos sin aprovechamiento de sus recursos
        valorizables, entre otros.
    </em>
</p>
<p>
    Artículo 2. Definiciones.
</p>
<p>
    a) Residuo de construcción y demolición: cualquier sustancia u objeto que,
    cumpliendo la definición de «Residuo» incluida en el artículo 3.a) de la
    Ley 10/1998, de 21 de abril, se genere en una obra de construcción o
    demolición.
</p>
<p>
    b) Residuo inerte: aquel residuo no peligroso que no experimenta
    transformaciones físicas, químicas o biológicas significativas, no es
    soluble ni combustible, ni reacciona física ni químicamente ni de ninguna
    otra manera, no es biodegradable, no afecta negativamente a otras materias
    con las cuales entra en contacto de forma que pueda dar lugar a
    contaminación del medio ambiente o perjudicar a la salud humana. La
    lixiviabilidad total, el contenido de contaminantes del residuo y la
    ecotoxicidad del lixiviado deberán ser insignificantes, y en particular no
    deberán suponer un riesgo para la calidad de las aguas superficiales o
    subterráneas.
</p>
<p>
    c) Obra de construcción o demolición: la actividad consistente en:
</p>
<p>
    1.º La construcción, rehabilitación, reparación, reforma o demolición de un
    bien inmueble, tal como un edificio, carretera, puerto, aeropuerto,
    ferrocarril, canal, presa, instalación deportiva o de ocio, así como
    cualquier otro análogo de ingeniería civil.
</p>
<p>
    2.º La realización de trabajos que modifiquen la forma o sustancia del
    terreno o del subsuelo, tales como excavaciones, inyecciones,
    urbanizaciones u otros análogos, con exclusión de aquellas actividades a
    las que sea de aplicación la Directiva 2006/21/CE del Parlamento Europeo y
    del Consejo, de 15 de marzo, sobre la gestión de los residuos de industrias
    extractivas.
</p>
<p>
    Se considerará parte integrante de la obra toda instalación que dé servicio
    exclusivo a la misma, y en la medida en que su montaje y desmontaje tenga
    lugar durante la ejecución de la obra o al final de la misma.
</p>
<p>
    d) Obra menor de construcción o reparación domiciliaria: obra de
    construcción o demolición en un domicilio particular, comercio, oficina o
    inmueble del sector servicios, de sencilla técnica y escasa entidad
    constructiva y económica, que no suponga alteración del volumen, del uso,
    de las instalaciones de uso común o del número de viviendas y locales, y
    que no precisa de proyecto firmado por profesionales titulados.
</p>
<p>
    e) Productor de residuos de construcción y demolición:
</p>
<p>
    La persona física o jurídica titular de la licencia urbanística en una obra
    de construcción o demolición; en aquellas obras que no precisen de licencia
    urbanística, tendrá la consideración de productor del residuo la persona
    física o jurídica titular del bien inmueble objeto de una obra de
    construcción o demolición.
</p>
<p>
    f) Poseedor de residuos de construcción y demolición: la persona física o
    jurídica que tenga en su poder los residuos de construcción y demolición y
    que no ostente la condición de gestor de residuos. En todo caso, tendrá la
    consideración de poseedor la persona física o jurídica que ejecute la obra
    de construcción o demolición, tales como el constructor, los
    subcontratistas o los trabajadores autónomos. En todo caso, no tendrán la
    consideración de poseedor de residuos de construcción y demolición los
    trabajadores por cuenta ajena.
</p>
<p>
    g) Tratamiento previo: proceso físico, térmico, químico o biológico,
    incluida la clasificación, que cambia las características de los residuos
    de construcción y demolición reduciendo su volumen o su peligrosidad,
    facilitando su manipulación, incrementando su potencial de valorización o
    mejorando su comportamiento en el vertedero.
</p>
<p>
    Artículo 3. Ámbito de aplicación.
</p>
<p>
    1. Este real decreto será de aplicación a los residuos de construcción y
    demolición definidos en el artículo 2, con excepción de:
</p>
<p>
    a) Las tierras y piedras no contaminadas por sustancias peligrosas
    reutilizadas en la misma obra, en una obra distinta o en una actividad de
    restauración, acondicionamiento o relleno, siempre y cuando pueda
    acreditarse de forma fehaciente su destino a reutilización.
</p>
<p>
    Comentario:
</p>
<ul>
    <li>
        Este apartado quedo derogado por la ley 22/2011 la cual solo autorizaba
        la utilización de tierras limpias de excavación en las obras donde se
        produjeron, las tierras utilizadas fuera de la obra deberán ser
        gestionadas por gestores autorizados, esto quedo nuevamente modificado
        por
        <em>
            Orden APM/1007/2017, de 10 de octubre, sobre normas generales de
            valorización de materiales naturales excavados para su utilización
            en operaciones de relleno y obras distintas a aquéllas en las que
            se generaron,
        </em>
        en esta Orden se permite nuevamente a empresas o personas físicas la
        gestión de tierras limpias de excavación sin autorización de gestor de
        residuos, siguiendo el procedimiento descrito en el Artículo 5.
        <em>
            Obligaciones de las entidades o empresas que realizan las
            actividades de valorización de materiales naturales excavados.
        </em>
    </li>
</ul>
<p>
    Foto 3
</p>
<p>
    Artículo 4. Obligaciones del productor de residuos de construcción y
    demolición.
</p>
<ol>
    <li>
        Incluir en el proyecto de ejecución de la obra un estudio de gestión de
        residuos de construcción y demolición.
    </li>
</ol>
<p>
    <em>
        Comentario: Son responsables de la evaluación del estudio de gestión de
        residuos los técnicos municipales de los ayuntamientos, quienes con
        base en los resultados de los cálculos de producción de RCD del estudio
        deberán solicitar una fianza proporcional a el coste de gestión de los
        RCD, como garantía para que la empresa constructora se comprometa a
        entregar los residuos a un gestor autorizado, esta fianza debería ser
        retenida por la administración si el productor no presenta el
        certificado de correcta gestión que una vez que la obra haya finalizado
        se el gestor de los RCD deberá expedir un certificado de correcta
        gestión para la recuperación de la fianza. Además del estudio, el
        poseedor (empresa de construcción o demolición) del residuos deberá
        elaborar un plan de gestión de residuos en el que describa el
        tratamiento que se le van a dar a los RCD.
    </em>
</p>
<p>
    Artículo 6. Régimen de control de la producción, posesión y gestión de los
    residuos de construcción y demolición.
</p>
<p>
    2. La legislación de las comunidades autónomas podrá exigir la constitución
    de una fianza u otra garantía financiera equivalente, vinculada al
    otorgamiento de la licencia municipal de obras al productor de residuos de
    construcción y demolición, en cuantía suficiente para garantizar el
    cumplimiento de las obligaciones que le impone este real decreto.
</p>
<p>
    3. En aquellas obras cuyo proyecto, de acuerdo con el artículo 4, incluya
    un estudio de gestión de residuos de la obra, el cálculo de la cuantía de
    la fianza o garantía financiera equivalente establecida en el apartado
    anterior, se basará en el presupuesto de dicho estudio. No obstante, si se
    considera que el presupuesto ha sido elaborado de modo infundado a la baja,
    se podrá elevar motivadamente dicha fianza.
</p>
<p>
    Comentario: El estudio de gestión de RCD debe ser evaluado con detalle por
    parte de los responsables de la administración donde se tramita la licencia
    de obra, para que las fianzas sean proporcionales al valor de gestión de
    los RCD, con esto se evitará que a los productores de RCD les resulte más
    económico tirar los residuos y perder el dinero de la fianza.
</p>
<p>
    Artículo 7. Obligaciones generales del gestor de residuos de construcción y
    demolición.
</p>
<p>
    c) Extender al poseedor o al gestor que le entregue residuos de
    construcción y demolición, en los términos recogidos en este real decreto,
    los certificados acreditativos de la gestión de los residuos recibidos,
    especificando el productor y, en su caso, el número de licencia de la obra
    de procedencia. Cuando se trate de un gestor que lleve a cabo una operación
    exclusivamente de recogida, almacenamiento, transferencia o transporte,
    deberá además transmitir al poseedor o al gestor que le entregó los
    residuos, los certificados de la operación de valorización o de eliminación
    subsiguiente a que fueron destinados los residuos.
</p>
<p>
    Comentario: Las administraciones y los gestores de RCD deben de tener una
    comunicación directa parta comprobar que los certificados presentados para
    la liberación de fianzas son verdaderos y que no han sido trucados por los
    productores de RCD.
</p>
<p>
    Artículo 9. Actividades de valorización de residuos de construcción y
    demolición en la obra en que se han producido.
</p>
<p>
    1. La legislación de las comunidades autónomas podrá eximir de la
    autorización administrativa regulada en los apartados 1 a 3 del artículo 8
    a los poseedores que se ocupen de la valorización de los residuos no
    peligrosos de construcción y demolición en la misma obra en que se han
    producido, fijando los tipos y cantidades de residuos y las condiciones en
    las que la actividad puede quedar dispensada de la autorización.
</p>
<p>
    2. Las actividades de valorización de residuos reguladas en este artículo
    se ajustarán a lo establecido en el proyecto de obra. En particular, la
    dirección facultativa de la obra deberá aprobar los medios previstos para
    dicha valorización in situ.
</p>
<p>
    4. Las actividades a las que sea de aplicación la exención contemplada en
    el apartado 1 deberán quedar obligatoriamente registradas en la forma que
    establezcan las comunidades autónomas.
</p>
<p>
    Comentario: En España la gestión en obra ha generado múltiples polémicas ya
    que en mucho de los casos la gestión in situ se convierte en una mera
    reducción de volumen y los áridos reciclados producidos contienen muchos
    impropios, además de ser en muchos casos una competencia desleal para las
    plantas fijas que tienen multiples controles ambientales que no son
    necesarios en una valorización in situ.
</p>
<p>
    Artículo 11. Actividades de eliminación de residuos de construcción y
    demolición mediante depósito en vertedero.
</p>
<p>
    1. Se prohíbe el depósito en vertedero de residuos de construcción y
    demolición que no hayan sido sometidos a alguna operación de tratamiento
    previo.
</p>
<p>
    2. La legislación de las comunidades autónomas podrá eximir de la
    aplicación del apartado anterior a los vertederos de residuos no peligrosos
    o inertes de construcción o demolición en poblaciones aisladas.
</p>
<p>
    Foto 4
</p>
<p>
    <strong>2.3 Ley 22/2011 sobre residuos y suelos contaminados</strong>
</p>
<p>
    <a href="http://www.boe.es/buscar/doc.php?id=BOE-A-2011-13046">
        http://www.boe.es/buscar/doc.php?id=BOE-A-2011-13046
    </a>
</p>
<p>
    Transposición a la legislación Española de la Directiva Europea 2008/98/CE
    sobre residuos.
</p>
<p>
    Artículo 1. Objeto.
</p>
<p>
    Esta Ley tiene por objeto regular la gestión de los residuos impulsando
    medidas que prevengan su generación y mitiguen los impactos adversos sobre
    la salud humana y el medio ambiente asociados a su generación y gestión,
    mejorando la eficiencia en el uso de los recursos. Tiene asimismo como
    objeto regular el régimen jurídico de los suelos contaminados.
</p>
<p>
    Artículo 4. Subproductos.
</p>
<p>
    1. Una sustancia u objeto, resultante de un proceso de producción, cuya
    finalidad primaria no sea la producción de esa sustancia u objeto, puede
    ser considerada como subproducto y no como residuo cuando se cumplan las
    siguientes condiciones:
</p>
<p>
    a) Que se tenga la seguridad de que la sustancia u objeto va a ser
    utilizado ulteriormente,
</p>
<p>
    b) que la sustancia u objeto se pueda utilizar directamente sin tener que
    someterse a una transformación ulterior distinta de la práctica industrial
    habitual,
</p>
<p>
    c) que la sustancia u objeto se produzca como parte integrante de un
    proceso de producción.
</p>
<p>
    d) que el uso ulterior cumpla todos los requisitos pertinentes relativos a
    los productos así como a la protección de la salud humana y del medio
    ambiente, sin que produzca impactos generales adversos para la salud humana
    o el medio ambiente.
</p>
<p>
    Comentario: Los subproductos es una de las novedades presentes en esta Ley,
    dándole valor a residuos que pueden tener una segunda vida en el caso de
    los RCD podemos encontrar ventanas, puertas, luminarias, palet de madera,
    entre otros.
</p>
<p>
    Artículo 5. Fin de la condición de residuo.
</p>
<p>
    1. siempre que se cumplan las siguientes condiciones:
</p>
<p>
    a) Que las sustancias u objetos resultantes se usen habitualmente para
    finalidades específicas;
</p>
<p>
    b) que exista un mercado o una demanda para dichas sustancias u objetos;
</p>
<p>
    c) que las sustancias u objetos resultantes cumplan los requisitos técnicos
    para finalidades específicas, la legislación existente y las normas
    aplicables a los productos; y
</p>
<p>
    d) que el uso de la sustancia u objeto resultante no genere impactos
    adversos para el medio ambiente o la salud.
</p>
<p>
    2. En la elaboración de esta orden se tendrá en cuenta el estudio previo
    que realizará la Comisión de coordinación en materia de residuos, que
    analizará lo establecido en su caso por la Unión Europea, la jurisprudencia
    aplicable, los principios de precaución y prevención, los eventuales
    impactos nocivos del material resultante y, cuando sea necesario, la
    procedencia de incluir valores límite para las sustancias contaminantes.
</p>
<p>
    3. Las sustancias u objetos afectados por los apartados anteriores y por
    sus normas de desarrollo, serán computados como residuos reciclados y
    valorizados a los efectos del cumplimiento de los objetivos en materia de
    reciclado y valorización cuando se cumplan los criterios de valorización y
    reciclado previstos en dichas normas.
</p>
<p>
    Comentario: Antes de la entrada en vigor de esta ley los áridos y
    materiales reciclados eran considerados como productos, en estos momentos
    existe una gran confusión en este tema ya que no está claro el fin de
    condición de residuos
</p>
<p>
    Artículo 11. Costes de la gestión de los residuos.
</p>
<p>
    1. De acuerdo con el principio de quien contamina paga, los costes
    relativos a la gestión de los residuos tendrán que correr a cargo del
    productor inicial de residuos, del poseedor actual o del anterior poseedor
    de residuos
</p>
<p>
    Comentario: Según este apartado los productores de RCD deben garantizar que
    las empresas que ejecutan las obras entreguen los RCD a gestores
    autorizados, de lo contrario podrán ser sancionados por una mala gestión de
    los residuos producidos en sus obras.
</p>
<p>
    Artículo 22. Objetivos específicos de preparación para la reutilización,
    reciclado y valorización.
</p>
<p>
    b) Antes de 2020, la cantidad de residuos no peligrosos de construcción y
    demolición destinados a la preparación para la reutilización, el reciclado
    y otra valorización de materiales, con exclusión de los materiales en
    estado natural definidos en la categoría 17 05 04 de la lista de residuos,
    deberá alcanzar como mínimo el 70% en peso de los producidos.
</p>
<p>
    Comentario: Objetivo planteado por la Unión Europea, en estos se quieren
    incluir para los RCD las operaciones de relleno de huecos mineros.
</p>
<p>
    En opinión de RCDA se puede rellenar con materiales reciclados tratados por
    gestores autorizados, nunca con RCD sin tratar.
</p>
<p>
    <strong>2.4 Programa Estatal Marco de Residuos PEMAR 2016-2020</strong>
</p>
<p>
    <a
        href="http://www.magrama.gob.es/imagenes/es/pemaraprobado6noviembrecondae_tcm7-401704.pdf"
    >
        http://www.magrama.gob.es/imagenes/es/pemaraprobado6noviembrecondae_tcm7-401704.pdf
    </a>
</p>
<p>
    Comentario: Los programas marcos son un decálogo de buenas intenciones que
    enfocan el camino hacia el cual Europa y el Estado Español pretenden
    dirigir el tratamiento de los residuos, no obstante no tiene ninguna
    aplicación práctica ya que su texto no es de aplicación directa al no es
    una normativa al uso.
</p>
<p>
    En el texto se hace alusión constantemente al MAGRAMA, estas son las siglas
    que se utilizaban hace algún tiempo para el Ministerio de agricultura y
    pesca, alimentación y medio ambiente.
</p>
<p>
    La Directiva 2008/98/CE Marco de Residuos (en adelante DMR) obliga a los
    Estados Miembros a establecer, como instrumento esencial para desarrollar
    las políticas de residuos, planes de gestión de residuos, que den cobertura
    a todo el territorio geográfico de cada Estado. La Ley 22/2011, de 28 de
    julio, de residuos y suelos contaminados que transpone dicha Directiva
    obliga a la elaboración de planes de gestión al Estado y a las Comunidades
    Autónomas, y permite a los Ayuntamientos que desarrollen programas de
    gestión de residuos en el ámbito de sus competencias.
</p>
<p>
    El PEMAR recoge las orientaciones comunitarias de la política de residuos.
    El objetivo es convertir a Europa en una sociedad eficiente en el uso de
    los recursos, que produzca menos residuos y que utilice como recurso,
    siempre que sea posible, los que no pueden ser evitados. En definitiva se
    trata de sustituir una economía lineal basada en producir, consumir y
    tirar, por una economía circular en la que se reincorporen al proceso
    productivo una y otra vez los materiales que contienen los residuos para la
    producción de nuevos productos o materias primas. En este planteamiento, el
    reciclaje o la valorización material de los residuos, juegan un papel
    primordial.
</p>
<p>
    Novedades de la ley 22/2011, de 28 de julio, de residuos y suelos
    contaminados.
</p>
<p>
    Entre las principales novedades que incluye la Ley 22/2011, de 28 de julio,
    cabe destacar:
</p>
<ul>
    <li>
        La jerarquía en la gestión de residuos, que ordena las opciones de
        gestión en cinco niveles (prevención, preparación para la
        reutilización, reciclado, otras formas de valorización (incluida la
        energética) y eliminación).
    </li>
    <li>
        El fortalecimiento de las políticas de prevención que permitan cumplir
        el objetivo cuantitativo de prevención establecido del 70% para la
        preparación para la reutilización, reciclado y valorización material de
        los residuos de construcción y demolición antes de 2020.
    </li>
    <li>
        La incorporación de los conceptos de subproducto y de fin de la
        condición de residuo para el fortalecimiento del mercado del reciclado.
    </li>
    <li>
        El establecimiento de un registro único de producción y gestión de
        residuos y la previsión de la transmisión de la información por vía
        electrónica para mejorar la información disponible, la transparencia y
        la trazabilidad en la gestión de los residuos.
    </li>
    <li>
        La posibilidad de reestablecer la legalidad ambiental mediante el
        cierre del establecimiento o la paralización de la actividad cuando no
        cuenten con las autorizaciones, declaraciones o registro
        correspondientes, o la suspensión temporal de la actividad cuando no se
        ajuste a lo declarado o a las condiciones impuestas, siempre que de
        ello se derive un riesgo grave para el medio ambiente o la salud
        pública.
    </li>
    <li>
        El establecimiento de un marco legal común para la aplicación de la
        responsabilidad ampliada del productor del producto. Conforme a dicho
        marco, los sistemas de depósito, devolución y retorno serán de carácter
        voluntario, pudiendo establecerse de forma obligatoria para la
        reutilización de productos o para garantizar el tratamiento de residuos
        si son de difícil valorización o eliminación, residuos cuyas
        características de peligrosidad determinen la necesidad del
        establecimiento de este sistema para garantizar su correcta gestión, o
        cuando no se cumplan los objetivos de gestión fijados en la normativa
        vigente.
    </li>
    <li>
        El refuerzo de la coordinación entre las administraciones públicas
        mediante la creación de la Comisión de coordinación en materia de
        residuos.
    </li>
</ul>
<p>
    Capítulo 13. Residuos de construcción y demolición (RCD).
</p>
<p>
    Legislación aplicable. - El Real Decreto 105/2008, de 1 de febrero, por el
    que se regula la producción y gestión de los residuos de construcción y
    demolición (RCD). Este Real Decreto constituye el instrumento normativo
    específico en materia de RCD. Establece, entre otras, las siguientes
    obligaciones: el productor de RCD ha de incluir en el proyecto de ejecución
    de obra un Estudio de gestión de residuos, el poseedor o la persona física
    o jurídica que ejecute la obra, ha de presentar un Plan de gestión de RCD
    para la aplicación del mencionado estudio. Asimismo, se ha de asegurar la
    correcta gestión de los residuos, aplicando el principio de jerarquía de la
    Ley 22/2011, de 28 de julio, de residuos y suelos contaminados,
    contribuyendo, de esta forma, al desarrollo sostenible del sector de la
    construcción. - Adicionalmente, en este sector hay que tener en cuenta que
    se está tramitando un Proyecto de Orden Ministerial para el establecimiento
    de normas generales de valorización de los materiales naturales excavados
    para su utilización en obras distintas a aquéllas en las que se generaron.
    En este proyecto de orden se establecen los requisitos que deben cumplir
    los materiales naturales excavados en sustitución de otros materiales
    naturales en otras obras de construcción y en operaciones de relleno
    (backfilling). Cuando se cumplan estos requisitos las personas físicas o
    jurídicas que lleven a cabo las operaciones de valorización, podrán
    eximirse de las autorizaciones de gestor de residuos, quedando obligadas a
    la presentación de una comunicación previa al inicio de sus actividades
    ante el órgano ambiental, así como de un resumen de su actividad cuando
    finalicen las operaciones de valorización. Se pretende así contribuir al
    ahorro y eficiencia en el uso de los recursos naturales, facilitando su
    valorización cuando se destinan a una obra distinta a aquélla en la que se
    generaron.
</p>
<p>
    Objetivos establecidos:
</p>
<p>
    El Real Decreto 105/2008, de 1 de febrero, no establecía objetivos de
    prevención, reciclado o vertido de los RCD. Sin embargo el artículo 22 de
    la Ley 22/2011, de 28 de julio, establece de conformidad con la Directiva
    2008/98/CE, de 19 de noviembre, sobre los residuos, que antes de 2020, la
    cantidad de residuos no peligrosos de construcción y demolición destinados
    a la preparación para la reutilización, el reciclado y otra forma de
    valorización de los materiales, con exclusión de los materiales en estado
    natural definidos en la categoría 17 05 04 “Tierra y piedras que no
    contienen sustancias peligrosas” de la lista de residuos, deberá alcanzar
    como mínimo el 70% en peso de los residuos generados. Conviene señalar
    además que la Comisión Europea ha aprobado recientemente una comunicación
    específica sobre las “Oportunidades para un uso más eficiente de los
    recursos en el sector de la construcción” COM (2014) 445 final, a fin de
    fomentar una utilización más eficiente de los recursos naturales
    disponibles, así como la prevención y valorización de los RCD. Esta
    Comunicación se basa en establecer un marco común de “indicadores clave”,
    que serán desarrollados por la Comisión en un plazo de 2 años; siendo
    utilizados para evaluar el comportamiento ambiental de los edificios
    durante todo su ciclo de vida, permitiendo de esta manera la comparación
    entre edificios.
</p>
<p>
    En este proceso la Comunicación propone estudiar como mínimo los siguientes
    ámbitos:
</p>
<ul>
    <li>
        La planificación de la demolición.
    </li>
    <li>
        La gestión de RCD.
    </li>
    <li>
        El porcentaje de material reciclado contenido en los materiales de
        construcción.
    </li>
    <li>
        Posibilidad de reciclado y reutilización de los materiales y productos
        de construcción.
    </li>
    <li>
        La durabilidad de los materiales de construcción
    </li>
</ul>
<p>
    La Comunicación continúa destacando que el reciclado de los RCD se enfrenta
    con dos tipos distintos de deficiencias del mercado:
</p>
<ul>
    <li>
        El coste del daño ambiental no se internaliza en las tasas por
        utilización de vertederos ni en el precio del material virgen, lo que
        da lugar a que el coste del material reciclado sea más elevado que el
        del material virgen.
    </li>
    <li>
        La división de incentivos en la cadena de valor de esos residuos, ya
        que el coste de desmantelar, separar y transformar los residuos se
        produce principalmente en la fase de demolición, mientras que los
        eventuales beneficios derivados de la utilización de materiales
        reciclados se acumulan en la fase de producción.
    </li>
</ul>
<p>
    Estas deficiencias impiden que se inviertan en operaciones de correcto
    derribo y separación, por lo que el relleno y el depósito en vertederos
    siguen siendo las alternativas preferidas.
</p>
<p>
    Con esta Comunicación la Comisión quiere promover el intercambio de mejores
    prácticas que:
</p>
<ul>
    <li>
        Reduzcan el número de RCD destinados a operaciones de relleno y al
        depósito en vertederos; bien mediante un aumento de tasas, o bien
        mediante medidas reguladoras.
    </li>
    <li>
        Integren los costes ambientales externos en el precio de los materiales
        vírgenes para productos de construcción a fin de estimular una mayor
        utilización de materias primas secundarias, si procede.
    </li>
</ul>
<p>
    Asimismo se examinarán distintas medidas para garantizar que los materiales
    reciclados cumplan los requisitos de calidad y seguridad necesarios, a
    través de la normalización y certificación.
</p>
<p>
    La adecuada gestión de los RCD generados se realiza fundamentalmente a
    través de los siguientes tipos de instalaciones:
</p>
<ul>
    <li>
        Plantas de transferencia: son instalaciones para el almacenamiento
        temporal de los RCD que posteriormente van a ser tratados en
        instalaciones localizadas a grandes distancias. Su cometido principal
        es agrupar residuos y abaratar costes de transporte, si bien en
        ocasiones se efectúa en ellas algún proceso menor de triaje y
        clasificación de las fracciones de los residuos, buscando mejorar o
        adecuar las características de los RCD enviados a las instalaciones de
        tratamiento.
    </li>
    <li>
        Plantas de tratamiento: son instalaciones de tratamiento de RCD en las
        que se seleccionan, clasifican y valorizan las diferentes fracciones
        que contienen estos residuos, a fin de obtener productos aptos para su
        utilización directa, o residuos cuyo destino será otro tratamiento
        posterior de valorización o reciclado, y si éste no fuera posible, se
        eliminaría en vertedero.
    </li>
</ul>
<p>
    Pueden ser fijas o móviles.
</p>
<ul>
    <li>
        Plantas fijas: son instalaciones ubicadas en un emplazamiento
        determinado, con autorización administrativa para realizar operaciones
        de tratamiento de RCD, cuya maquinaria (fundamentalmente los equipos de
        trituración) es fija; estas plantas no operan fuera del emplazamiento
        donde estén ubicadas.
    </li>
    <li>
        Plantas móviles: están constituidas por maquinaria y equipos que se
        desplazan a las obras con una determinada autorización, para tratar en
        origen o en centros de tratamiento para realizar temporalmente
        determinados tratamientos.
    </li>
    <li>
        Vertederos: son instalaciones para el depósito definitivo de los RCD.
        Dichas instalaciones deben cumplir los requisitos que les sean de
        aplicación incluidos en del Real Decreto 1481/2001, de 27 de diciembre,
        por el que se regula la eliminación de residuos mediante depósito en
        vertedero.
    </li>
</ul>
<p>
    En las obras de construcción o demolición se pueden generar diferentes
    residuos peligrosos que deben recogerse y tratarse por separado por
    gestores autorizados. Entre los materiales y sustancias que pueden
    encontrarse en los RCD que pueden tener alguna característica de
    peligrosidad, cabe destacar: adhesivos, másticos y sellantes (infamables,
    tóxicos o irritantes), alquitranes (tóxicos, cancerígenos), materiales a
    base de amianto (tóxicos, cancerígenos), madera tratada con fungicidas,
    pesticidas, creosota, etc. (tóxicos, cancerígenos e inflamables),
    revestimientos ignífugos halogenados (tóxicos, cancerígenos), equipos con
    PCB -policloruro de bifenilo- (tóxicos, cancerígenos), luminarias de
    mercurio (tóxicos), sistemas con CFCs (clorofluorocarbonados), elementos a
    base de yeso contaminados por sustancias peligrosas, envases que hayan
    contenido sustancias peligrosas (disolventes, pinturas o adhesivos), etc.
</p>
<p>
    Objetivos cualitativos para incrementar la calidad del material tratado:
</p>
<ul>
    <li>
        Establecer la recogida separada de los distintos materiales que
        integran los residuos generados en las obras y garantizar la retirada
        selectiva de los residuos peligrosos procedentes de RCD desde la obra y
        asegurar la correcta gestión de todos los residuos de acuerdo a su
        naturaleza y peligrosidad, de conformidad con las normas aplicables
        para su reincorporación al mercado.
    </li>
    <li>
        Fomentar una mayor utilización de los materiales procedentes de la
        gestión de los RCD. Con esta finalidad se pueden utilizar instrumentos
        tales como el aumento de las tasas de vertido para desincentivar el
        depósito de residuos de RCD valorizables y el establecimiento de
        obligaciones adicionales al promotor o constructor si no separa
        correctamente en origen los RCD generados, ya que esta correcta
        separación es el elemento necesario para generar un material de calidad
        que pueda reincorporarse al mercado.
    </li>
    <li>
        Fomentar la utilización (valorización) de materiales naturales
        excavados en la construcción de obras de tierra (terraplenes,
        pedraplenes y rellenos todo-uno) así como en la restauración de
        espacios degradados y en obras de acondicionamiento o relleno y
        establecer criterios ambientales para el uso de otros materiales
        procedentes del tratamiento de RCD no peligrosos en esos destinos.
    </li>
    <li>
        Establecer un Acuerdo Marco Sectorial para impulsar la utilización de
        áridos reciclados procedentes de RCD en obras de construcción. Dicho
        Acuerdo impulsará las medidas previstas en los apartados anteriores, a
        través de la introducción de criterios en la contratación pública que
        incluyan porcentajes mínimos de uso de material reciclado en obra
        pública, así como en obras privadas. Así se propone la inclusión,
        siempre que sea posible, en los proyectos de construcción de obra
        pública de un porcentaje mínimo del 5 % de áridos reciclados.
        Igualmente se aplicará este porcentaje del 5 %, siempre que sea
        posible, en la obra privada. En este Acuerdo, podrán participar los
        siguientes departamentos de la Administración General del Estado:
        Ministerio de Fomento, Ministerio de Industria, Energía y Turismo
        (MINETUR), Ministerio de Agricultura, Alimentación y Medio Ambiente
        (MAGRAMA), en colaboración con otras autoridades competentes
        autonómicas y locales, con las asociaciones empresariales sectoriales y
        constructoras para promover el uso del árido reciclado.
    </li>
</ul>
<p>
    Objetivos cuantitativos:
</p>
<p>
    Se establecen los siguientes objetivos cuantitativos específicos sobre RCD
    para los años 2016, 2018 y 2020, orientados al cumplimiento del objetivo
    final previsto en la Directiva Marco de Residuos para este flujo de
    residuos.
</p>
<p>
    Objetivos para RCD para los años 2016, 2018 y 2020
</p>
<p>
    La comprobación de los objetivos se basará en los siguientes indicadores:
</p>
<ul>
    <li>
        % de RCD no peligrosos destinados a la preparación para la
        reutilización, el reciclado y otras operaciones de valorización (con
        exclusión de las tierras y piedras limpias) respecto a la cantidad
        total de RCD no peligrosos generados.
    </li>
    <li>
        % de eliminación de RCD no peligrosos en vertedero controlado respecto
        a la cantidad total de RCD no peligrosos generados.
    </li>
    <li>
        % de tierras y piedras limpias (LER 17 05 04) utilizadas en obras de
        tierra y en obras de restauración, acondicionamiento o relleno respecto
        a la cantidad total de materiales naturales excavados28
    </li>
    <li>
        % de eliminación de tierras y piedras limpias (LER 17 05 04) en
        vertedero controlado respecto a la cantidad total de materiales
        naturales excavados.
    </li>
</ul>
<p>
    TABLA 1
</p>
<p>
    <strong>Orientaciones. </strong>
    Para la consecución de los objetivos del Plan, se propone las siguientes
    orientaciones:
</p>
<ul>
    <li>
        Establecer una metodología clara y concisa de recogida y tratamiento de
        datos de RCD con las CCAA. Se pretende con ello mejorar la información
        en materia de RCD y evaluar adecuadamente el cumplimiento de los
        objetivos de gestión de este flujo de residuos fijados en el PEMAR.
    </li>
    <li>
        Impulsar la demolición selectiva que permita una adecuada separación
        con vistas al aprovechamiento de estos residuos. Estas previsiones se
        incluirán tanto en el Estudio de gestión de RCD que presentan los
        productores (promotores) así como en el plan de gestión de los RCD que
        elaboran los poseedores (constructores), aplicando el principio de
        jerarquía de residuos
    </li>
    <li>
        Fomentar el desarrollo de técnicas y prácticas de separación in situ de
        residuos de construcción y demolición de manera que se incremente la
        posibilidad de producir áridos reciclados que cumplan con las normas y
        reglamentación específica para cada uso concreto.
    </li>
    <li>
        Fomentar la aplicación de sistemas de tarifas de admisión de RCD en
        vertederos que desincentiven esta forma tratamiento para los RCD
        valorizables.
    </li>
    <li>
        Revisar el Real Decreto 105/2008, de 1 de febrero, entre otros
        aspectos, en lo relativo a la separación en origen de los RCD por tipo
        de materiales, a fin de adecuar a la coyuntura actual las fracciones
        que se han de separar y las cantidades de residuos a partir de las
        cuales se debe realizar dicha separación (artículo 5.5 del citado real
        decreto); y en lo relativo a los RCD generados en obras menores, para
        definir unas condiciones mínimas y homogéneas en la gestión de dichos
        residuos. Se pretende con ello fomentar la correcta gestión
        medioambiental de estos materiales.
    </li>
</ul>
<p>
    En relación con el relleno de huecos mineros:
</p>
<ul>
    <li>
        Desarrollar criterios básicos armonizados para el uso de RCD en el
        relleno de estos huecos.
    </li>
    <li>
        Desarrollar acuerdos o convenios sectoriales entre las industrias
        extractivas y otros sectores con las administraciones públicas, con
        objeto de promover el uso de los huecos mineros existentes y sin
        restaurar, para la valorización de RCD en operaciones de recuperación
        de espacios degradados, conforme al artículo 13 del Real Decreto
        105/2008, de forma que se cumplan las especificaciones exigidas en el
        mencionado RD y en los Planes de Restauración del RD 975/2009, de 12 de
        junio, sobre gestión de los residuos de las industrias extractivas y de
        protección y rehabilitación del espacio afectado por actividades
        mineras.
    </li>
    <li>
        Se analizará la oportunidad de promover la aplicación del fin de la
        condición de residuo a los áridos procedentes de RCD, o la exención de
        la autorización de gestor prevista en el artículo 28 de la Ley 22/2011,
        a quienes realicen la operación de valorización del material tratado.
    </li>
</ul>
<ul>
    <li>
        Promocionar la utilización de los materiales procedentes de los RCD
        valorizables en las obras de construcción, tales como obras de tierra,
        de capas estructurales (sub-bases de carretera, capa de forma), así
        como la fabricación de hormigones, etc., siempre y cuando se garantice
        que los materiales reciclados cumplan los requisitos de calidad y
        prescripciones de la normativa vigente en cada caso. A tal fin, se
        fomentará que en los Pliegos de Prescripciones Técnicas de las obras y
        en la valoración de las ofertas en la contratación pública se incluyan
        condiciones que faciliten el empleo de los materiales procedentes de
        RDC valorizables antes mencionados en sustitución de los materiales
        naturales. Esta medida, la llevará a cabo el MAGRAMA, en colaboración
        con otros departamentos de la Administración General del Estado, con
        las autoridades competentes autonómicas y locales, con las asociaciones
        empresariales sectoriales, colegios profesionales y agentes sociales.
    </li>
    <li>
        La Administración General del Estado y las demás administraciones
        públicas fomentarán que en los proyectos de obra se tengan en cuenta
        las alternativas de diseño y constructivas que generen menos residuos
        en la fase de construcción y de explotación, así como aquellos
        proyectos que favorezcan el desmantelamiento selectivo correcto del
        bien inmueble al final de su vida útil.
    </li>
    <li>
        Impulsar la evaluación del ciclo de vida de los materiales de
        construcción y de sus residuos.
    </li>
    <li>
        Las administraciones públicas impulsarán la creación y gestión de
        puntos limpios, fundamentalmente para los RCD procedentes de las obras
        menores de construcción y reparación domiciliaria, a fin de facilitar
        la gestión de los mencionados residuos generados sobre todo en las
        pequeñas poblaciones diseminadas geográficamente.
    </li>
    <li>
        Las administraciones públicas, en particular, las Entidades locales,
        facilitarán la información al ciudadano sobre buenas prácticas sobre
        generación y gestión de los RCD de obras menores de construcción y
        reparación domiciliaria, en particular sobre la ubicación de puntos
        limpios y sus condiciones de aceptación de RCD.
    </li>
    <li>
        Fomentar mediante Proyectos de I+D+i., el desarrollo de tecnologías
        destinadas a la transformación de los RCD en materiales reciclados de
        alta calidad y durabilidad.
    </li>
    <li>
        Impulsar, en colaboración con otras administraciones públicas, campañas
        de inspección en relación con la gestión de los RCD, dirigidas tanto a
        los productores o poseedores de residuos como a los gestores de los
        mismos, y prestando especial atención a la prevención del vertido
        ilegal de estos residuos.
    </li>
</ul>
<p>
    Foto 2
</p>
<p>
    <strong>
        2.5
        <em>
            Orden APM/1007/2017, de 10 de octubre, sobre normas generales de
            valorización de materiales naturales excavados para su utilización
            en operaciones de relleno y obras distintas a aquéllas en las que
            se generaron.
        </em>
    </strong>
</p>
<p>
    <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2017-12043">
        https://www.boe.es/diario_boe/txt.php?id=BOE-A-2017-12043
    </a>
</p>
<p>
    Se pretende con esta orden, permite la utilización de estos materiales en
    obras de construcción distintas a aquéllas en las que se generaron y en
    operaciones de relleno (backfilling), sin necesidad de que se solicite
    autorización de gestor de residuos por parte de las personas físicas o
    jurídicas que llevarán a cabo las citadas operaciones de valorización.
</p>
<p>
    En definitiva a través de esta orden se regula la utilización de residuos
    de obras de construcción y demolición consistentes en materiales naturales
    que se generen como excedentes de las excavaciones necesarias para la
    ejecución estricta de las obras y que sean no peligrosos y no contaminados,
    tales como tierras, arcillas, limos, arenas o gravas, en obras distintas a
    aquéllas en las que se generaron
</p>
<p>
    <strong>
        Artículo 4. Obligaciones del productor o poseedor inicial de los
        materiales naturales excavados.
    </strong>
</p>
<p>
    1. Se entenderá por productor y poseedor inicial de los materiales
    naturales excavados los definidos en los artículos 3.i) y 3.j)
    respectivamente de la Ley 22/2011, de 28 de julio.
</p>
<p>
    2. El productor o poseedor inicial de los materiales naturales excavados
    estará obligado a entregarlos bien a una entidad o empresa registrada de
    conformidad con lo establecido en el artículo 5 de esta orden o a
    gestionarlos de conformidad con lo establecido en el artículo 17.1.a) y
    17.1.b) de la Ley 22/2011, de 28 de julio.
</p>
<p>
    3. En ambos casos, la entrega de los materiales naturales excavados por
    parte de los productores o poseedores iniciales deberá acreditarse
    documentalmente. En el documento constará, al menos, la identificación del
    productor o poseedor, la obra de procedencia, la cantidad, expresada en
    toneladas, la naturaleza de los materiales entregados, así como la
    identificación de las personas físicas o jurídicas que realizarán la
    valorización y la obra de destino, en coherencia con lo previsto en el
    artículo 17.1 último párrafo de la Ley 22/2011, de 28 de julio.
</p>
<p>
    4. En el caso de que los materiales naturales excavados se entreguen a una
    entidad o empresa registrada de conformidad con lo establecido en el
    artículo 5 de esta orden, la responsabilidad de los productores u otros
    poseedores iniciales de estos materiales concluye cuando se realice dicha
    entrega. La documentación acreditativa de la entrega deberá conservarse,
    durante al menos los tres años siguientes, en coherencia con lo previsto en
    el artículo 40 de la Ley 22/2011, de 28 de julio.
</p>
<p>
    5. El productor o poseedor inicial deberá asegurar a la persona física o
    jurídica que va a realizar la operación de valorización que los materiales
    naturales excavados cumplen lo establecido en el artículo 2, apartados 1 y
    2, mediante una declaración responsable cuyo modelo figura en el anexo
    III.A.
</p>
<p>
    6. El productor o poseedor inicial de los materiales naturales excavados,
    si genera más de 1.000 toneladas al año de residuos no peligrosos deberá
    presentar una comunicación ante el órgano ambiental competente de la
    comunidad autónoma donde se generaron, de conformidad con lo establecido en
    el artículo 29.1.a) de la Ley 22/2011, de 28 de julio. Así mismo, dispondrá
    del archivo cronológico de conformidad con el artículo 40 de la Ley
    22/2011, de 28 de julio.
</p>
<p>
    La inclusión de estas obras de tierra es importante por los grandes
    volúmenes de los materiales y la frecuencia con la que se utilizan con este
    destino, tratándose de esta manera de contribuir a un uso sostenible de los
    recursos naturales.
</p>
<p>
    <strong>
        Artículo 4. Obligaciones del productor o poseedor inicial de los
        materiales naturales excavados.
    </strong>
</p>
<p>
    1. Se entenderá por productor y poseedor inicial de los materiales
    naturales excavados los definidos en los artículos 3.i) y 3.j)
    respectivamente de la Ley 22/2011, de 28 de julio.
</p>
<p>
    2. El productor o poseedor inicial de los materiales naturales excavados
    estará obligado a entregarlos bien a una entidad o empresa registrada de
    conformidad con lo establecido en el artículo 5 de esta orden o a
    gestionarlos de conformidad con lo establecido en el artículo 17.1.a) y
    17.1.b) de la Ley 22/2011, de 28 de julio.
</p>
<p>
    3. En ambos casos, la entrega de los materiales naturales excavados por
    parte de los productores o poseedores iniciales deberá acreditarse
    documentalmente. En el documento constará, al menos, la identificación del
    productor o poseedor, la obra de procedencia, la cantidad, expresada en
    toneladas, la naturaleza de los materiales entregados, así como la
    identificación de las personas físicas o jurídicas que realizarán la
    valorización y la obra de destino, en coherencia con lo previsto en el
    artículo 17.1 último párrafo de la Ley 22/2011, de 28 de julio.
</p>
<p>
    4. En el caso de que los materiales naturales excavados se entreguen a una
    entidad o empresa registrada de conformidad con lo establecido en el
    artículo 5 de esta orden, la responsabilidad de los productores u otros
    poseedores iniciales de estos materiales concluye cuando se realice dicha
    entrega. La documentación acreditativa de la entrega deberá conservarse,
    durante al menos los tres años siguientes, en coherencia con lo previsto en
    el artículo 40 de la Ley 22/2011, de 28 de julio.
</p>
<p>
    5. El productor o poseedor inicial deberá asegurar a la persona física o
    jurídica que va a realizar la operación de valorización que los materiales
    naturales excavados cumplen lo establecido en el artículo 2, apartados 1 y
    2, mediante una declaración responsable cuyo modelo figura en el anexo
    III.A.
</p>
<p>
    6. El productor o poseedor inicial de los materiales naturales excavados,
    si genera más de 1.000 toneladas al año de residuos no peligrosos deberá
    presentar una comunicación ante el órgano ambiental competente de la
    comunidad autónoma donde se generaron, de conformidad con lo establecido en
    el artículo 29.1.a) de la Ley 22/2011, de 28 de julio. Así mismo, dispondrá
    del archivo cronológico de conformidad con el artículo 40 de la Ley
    22/2011, de 28 de julio.
</p>
<p>
    Comentarios: Esta Orden solo regula las tierras limpias de excavación y
    promueve su gestión en rellenos, sobre todo de huecos mineros, permitiendo
    la gestión de estos residuos a personas y empresas que no cuentan con
    autorización de gestor de residuos, la Orden da los requisitos obligatorios
    para iniciar esta actividad.
</p>
<p>
    <strong>
        2.5 Real Decreto 180/2015, de 13 de marzo, por el que se regula el
        traslado de residuos en el interior del territorio del Estado.
    </strong>
</p>
<p>
    <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2015-3715">
        <strong>
            https://www.boe.es/diario_boe/txt.php?id=BOE-A-2015-3715
        </strong>
        <strong></strong>
    </a>
</p>
<p>
    Este Real Decreto incluye la documentación obligatoria para el transporte
    de RCD entre Comunidades Autónomas.
</p>
<ul>
    <li>
        Modelo de Contrato de tratamiento entre el Productor y el Gestor, (debe
        figurar el Transportista).
    </li>
    <li>
        Modelo de Identificación para el Transportista.
    </li>
    <li>
        Notificación a las CCAA de origen y destino para eliminación de RCD.
    </li>
</ul>
<p>
    <strong>2.6 Legislaciones de las CCAA</strong>
</p>
<p>
    <strong>Andalucía</strong>
</p>
<p>
    DECRETO 73/2012, de 20 de marzo, por el que se aprueba el Reglamento de
    Residuos de Andalucía.
</p>
<p>
    Comentario: En este Decreto se dio plazo de un año a los ayuntamientos para
    la solicitud de fianzas que garanticen la correcta gestión de los RCD, a
    día de hoy son muchos los ayuntamientos andaluces que no cumplen con esta
    exigencia.
</p>
<p>
    <strong>Aragón</strong>
</p>
<p>
    DECRETO 262/2006, de 27 de diciembre, del Gobierno de Aragón, por el que se
    aprueba el Reglamento de la producción, posesión y gestión de los residuos
    de la construcción y la demolición, y del régimen jurídico del servicio
    público de eliminación y valorización de escombros que no procedan de obras
    menores de construcción y reparación domiciliaria en la Comunidad Autónoma
    de Aragón.
</p>
<p>
    Comentario: Dentro de las características más relevantes de este Decreto
    está la presencia del servicio público de eliminación y valorización de RCD
    para los residuos de obra mayor, los cuales solo podrán ser tratados en
    plantas del Gobierno de Aragón, los RCD de obra menor podrán ser tratados
    por empresas privadas.
</p>
<p>
    <strong>Asturias</strong>
</p>
<p>
    Plan Estratégico de Residuos del Principado de Asturias 2014-2024.
</p>
<p>
    Comentario: Actualmente Asturias no cuenta con legislación específica sobre
    RCD, en el Plan se cita como referencia la normativa estatal, Real Decreto
    105/2008 sobre residuos de construcción y demolición.
</p>
<p>
    <strong>Baleares</strong>
</p>
<p>
    Aprobación definitiva del texto del plan director sectorial para la gestión
    del los residuos de construcción – demolición, voluminosos y neumáticos
    fuera de uso de las islas de Mallorca.
</p>
<p>
    Plan director sectorial para la gestión de los residuos no peligrosos de
    Menorca.
</p>
<ul>
    <li>
        Las Islas Baleares tienen una normativa en relación con los RCD para
        cada isla, por lo que no existe actualmente normativa Autonómica.
    </li>
    <li>
        Las empresas encargadas de la gestión de los RCD son concesiones de la
        Comunidad Autónoma, los precios de entrada en planta por m3 son los más
        elevados de España, acercándose a los valores ideales para que las
        empresas puedan tener una rentabilidad en su actividad.
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Canarias</strong>
</p>
<p>
    <a
        href="http://www.gobiernodecanarias.org/medioambiente/piac/temas/RR/RR_mas_informacion/normativa/normativa-autonomica/"
    >
        <strong>
            http://www.gobiernodecanarias.org/medioambiente/piac/temas/RR/RR_mas_informacion/normativa/normativa-autonomica/
        </strong>
        <strong></strong>
    </a>
</p>
<p>
    DECRETO 112/2004, de 29 de julio, por el que se regula el procedimiento y
    requisitos para el otorgamiento de las autorizaciones de gestión de
    residuos, y se crea el Registro de Gestores de Residuos de Canarias.
</p>
<p>
    Resolución de 2 de mayo de 2011, por la que se hace público el Acuerdo de
    la Comisión de Ordenación del Territorio y Medio Ambiente de Canarias de 13
    de abril de 2011, relativo a informe sobre la naturaleza no minera a
    efectos de la declaración de impacto ambiental de las instalaciones y
    actividades de trituración, clasificación y tratamiento de áridos
    procedentes de desmontes y residuos de la construcción
</p>
<p>
    <em>
        Comentario: El gobierno de Canarias no cuenta con legislación
        específica que regule la gestión de RCD por lo que es el Real Decreto
        105/2008 sobre RCD la normativa de directa aplicación.
    </em>
</p>
<p>
    <strong>Cantabria</strong>
</p>
<p>
    <a href="http://www.camaracantabria.com/medio_ambiente/legislacion.php">
        <strong>
            http://www.camaracantabria.com/medio_ambiente/legislacion.php
        </strong>
        <strong></strong>
    </a>
</p>
<p>
    Decreto 72/2010, de 28 de octubre, por el que se regula la producción y
    gestión de los residuos de construcción y demolición en la Comunidad
    Autónoma de Cantabria.
</p>
<p>
    <em>
        Comentarios: Este Decreto da un valor por m3 de la fianza para la
        garantía de la correcta gestión de los RCD, estos valores son:
    </em>
</p>
<p>
    <em>
        6 euros por metro cúbico para aquellos casos en que el estudio de
        gestión a que se refiere el artículo 7 de este Decreto contemple un
        procedimiento adecuado para la separación de los residuos en origen
        conforme a lo previsto en el artículo anterior, y de 10 euros por metro
        cúbico en los restantes casos
    </em>
</p>
<p>
    <em>
        Las cuantías anteriores se establecen con un mínimo de 40 euros y un
        máximo de 60.000 euros.
    </em>
</p>
<p>
    <strong>Castilla la Mancha</strong>
</p>
<p>
    <a
        href="http://www.castillalamancha.es/sites/default/files/documentos/20120511/planrcd.pdf"
    >
        <strong>
            http://www.castillalamancha.es/sites/default/files/documentos/20120511/planrcd.pdf
        </strong>
        <strong></strong>
    </a>
</p>
<p>
    Decreto 189/2005, de 13 de diciembre de 2005, por el que se aprueba el Plan
    de Castilla - La Mancha de Gestión de Residuos de Construcción y
    Demolición.
</p>
<p>
    <em>
        Comentario: Desde el 2005 Castilla la Mancha no publica una legislación
        sobre RCD es por esto que este Decreto no se adapta en muchos aspectos
        a la normativa actual sobre RCD.
    </em>
</p>
<p>
    <strong>Castilla y León</strong>
</p>
<p>
    DECRETO 11/2014, de 20 de marzo, por el que se aprueba el Plan Regional de
    Ámbito Sectorial denominado «Plan Integral de Residuos de Castilla y León»
    (BOCyL de 24 de marzo de 2014).
</p>
<p>
    Modificación del 23 de diciembre de 2010, de la Ley 5/1999, de Urbanismo de
    Castilla y León.
</p>
<p>
    <em>
        Comentario: Con diferencia del resto de Comunidades Autónomas, en la
        Legislación de Castilla León se solicita la inclusión de una fianza
        como garantía en la correcta gestión en la Ley Autonómica de Urbanismo,
        y se hace de carácter obligatorio en todos los ayuntamientos.
    </em>
</p>
<p>
    <strong>Cataluña</strong>
</p>
<p>
    Programa general de prevención y gestión de residuos y recursos de Cataluña
    2013 – 2020 (PRECAT 2020).
</p>
<p>
    <a
        href="http://residus.gencat.cat/web/.content/home/ambits_dactuacio/planificacio/precat20_novembre15/PRECAT20_doc-principal_sigov-cast.pdf"
    >
        http://residus.gencat.cat/web/.content/home/ambits_dactuacio/planificacio/precat20_novembre15/PRECAT20_doc-principal_sigov-cast.pdf
    </a>
</p>
<p>
    <em>
        Comentarios: Este programa ha querido incluir todos los programas que
        sobre residuos había en Cataluña, da continuidad al anterior PROGROC el
        cual solo hablaba de RCD.
    </em>
</p>
<p>
    <em>
        Además pretende retomar los canones de vertido, este puede generar
        mayores cantidades de valorización de RCD ya que eliminar va ha ser más
        caro que valorizar.
    </em>
</p>
<p>
    <em>
        Otro de sus aspectos relevantes es el control de las autorizaciones de
        gestión de RCD dejando solo la posibilidad de nuevas aperturas en suelo
        urbanizable industrial o en vertederos ya existentes.
    </em>
</p>
<p>
    <strong>Extremadura</strong>
</p>
<p>
    DECRETO 20/2011, de 25 de febrero, por el que se establece el régimen
    jurídico de la producción, posesión y gestión de los residuos de
    construcción y demolición en la Comunidad Autónoma de Extremadura.
</p>
<p>
    <em>
        Comentarios: Este Decreto transpone lo establecido en el Real Decreto
        105/2008 sobre residuos de construcción y demolición. Como novedad
        divide los RCD en 4 categorías y a cada una impone un valor mínimo por
        metro cubico para la adjudicación de fianzas para la correcta gestión
        de los RCD.
    </em>
</p>
<p>
    <em>
        Artículo 5. Clasificación de los residuos de construcción y demolición
        atendiendo a su tratamiento. A los efectos de lo establecido en el
        presente decreto, y atendiendo a las especiales dificultades que
        plantea su gestión, se establece la siguiente clasificación, de cara a
        facilitar a las Entidades Locales el establecimiento de las
        correspondientes ordenanzas: a) Categoría I: Residuos de construcción y
        demolición, que contienen sustancias peligrosas según se describen en
        la Lista Europea de Residuos aprobada por Orden MAM/304/2002, de 8 de
        febrero, por la que se publican las operaciones de valorización y
        eliminación de residuos y cuya producción se realice en una obra de
        construcción y/o demolición. b) Categoría II: Residuos inertes de
        construcción y demolición sucio, es aquel no seleccionado en origen y
        que no permite, a priori, una buena valorización al presentarse en
        forma de mezcla heterogénea de residuos inertes. c) Categoría III:
        Residuos inertes de construcción y demolición limpio, es aquel
        seleccionado en origen y entregado de forma separada, facilitando su
        valorización, y correspondiente a alguno de los siguientes grupos: —
        Hormigones, morteros, piedras y áridos naturales mezclados. —
        Ladrillos, azulejos y otros cerámicos.
    </em>
</p>
<ul>
    <li>
        <em>Tasas mínimas para fianzas.</em>
    </li>
    <li>
        <em>Residuos de categoría I: 1.000 euros/m3. </em>
    </li>
    <li>
        <em>Residuos de categoría II: 30 euros/m3. </em>
    </li>
    <li>
        <em>Residuos de categoría III: 15 euros/m3. </em>
    </li>
    <li>
        <em>Residuos de categoría IV: 7 euros/m3.</em>
    </li>
</ul>
<p>
    <strong>Galicia</strong>
</p>
<p>
    Ley 10/2008, de 3 de noviembre, de residuos de Galicia.
</p>
<p>
    <a
        href="https://www.boe.es/buscar/pdf/2008/BOE-A-2008-19734-consolidado.pdf"
    >
        https://www.boe.es/buscar/pdf/2008/BOE-A-2008-19734-consolidado.pdf
    </a>
</p>
<p>
    <em>
        Comentario: Galicia no cuenta con una legislación específica sobre RCD,
        actualmente algunos ayuntamientos han adaptando el Real Decreto
        105/2008 a su normativa municipal.
    </em>
</p>
<p>
    <strong>Madrid</strong>
</p>
<p>
    Orden 2726/2009, de 16 de julio, de la Consejería de Medio Ambiente,
    Vivienda y Ordenación del Territorio, por la que se regula la gestión de
    los residuos de construcción y demolición en la Comunidad de Madrid.
</p>
<p>
    <a
        href="http://www.madrid.org/wleg/servlet/Servidor?cdestado=P&amp;nmnorma=5864&amp;opcion=VerHtml"
    >
        http://www.madrid.org/wleg/servlet/Servidor?cdestado=P&amp;nmnorma=5864&amp;opcion=VerHtml
    </a>
</p>
<p>
    <em>
        Comentarios: Esta Orden entre otras novedades, obligaba a los
        ayuntamientos de la Comunidad de Madrid a adaptar a su normativa
        municipal en un plazo de 6 meses desde su publicación esta Orden. A día
        de hoy todavía son muchos los que no la aplican o se aplica de una
        manera deficiente.
    </em>
</p>
<p>
    <em>
        Esta Orden en su Disposición adicional primera crea una bolsa de
        tierras, esta herramienta permite al demandante de tierras estar en una
        lista con la cual la Consejeria de Medio Ambiente informa a las
        empresas que cuentan con estos residuos los lugares más cercanos a sus
        obras para la gestión de las tierras limpias de excavación procedentes
        de obras de construcción y demolición.
    </em>
</p>
<p>
    <strong>Murcia</strong>
</p>
<p>
    Plan de Residuos de la Región de Murcia 2015-2020.
</p>
<p>
    <em>
        Comentario: Este plan en su apartado de RCD solo hace un diagnostico de
        la situación actual de la gestión de los RCD y insta a las
        administraciones municipales a la aplicación del Real Decreto 105/2008
        sobre RCD.
    </em>
</p>
<p>
    <strong>Navarra</strong>
</p>
<p>
    Decreto foral 23/2011, de 28 de marzo, por el que se regula la producción y
    gestión de los residuos de construcción y demolición en el ámbito
    territorial de la comunidad foral de Navarra.
</p>
<p>
    <a href="http://www.lexnavarra.navarra.es/detalle.asp?r=29960">
        http://www.lexnavarra.navarra.es/detalle.asp?r=29960
    </a>
</p>
<p>
    <em>
        Comentarios: Este Decreto transpone el Real Decreto 105/2008 de RCD y
        entre sus cualidades encontramos que la administración controla
        directamente al productor de los residuos por medio del Registro de
        constructor - poseedor de residuos de construcción y demolición (RCDs),
        Este registro se hace telemáticamente.
    </em>
</p>
<p>
    <em>Registro de Constructor-poseedor de RCDs.</em>
</p>
<p>
    <em>
        La inscripción en el Registro de Constructor-poseedor de RCDs se
        formalizará preferentemente mediante registro electrónico, ante el
        Departamento de Desarrollo Rural y Medio Ambiente.
    </em>
</p>
<p>
    <em>
        La solicitud de inscripción en el Registro de Constructor- Poseedor de
        RCDs deberá ir acompañada de la siguiente documentación:
    </em>
</p>
<p>
    <em>
        a) Identificación y domicilio del Constructor, que deberá tener
        personalidad jurídica propia, mediante copia simple de la tarjeta de
        identificación fiscal.
    </em>
</p>
<p>
    <em>
        b) Resguardo de depósito ante Hacienda de Navarra de una Fianza en
        metálico o aval bancario para responder del cumplimento de todas las
        obligaciones que, frente a la Administración, se deriven de la correcta
        gestión de los residuos procedentes de las obras que ejecute, incluidas
        las derivadas de los daños, sanciones o de la ejecución subsidiaria de
        la recogida, transporte y tratamiento de los RCDs producidos en su
        actividad, por valor de:
    </em>
</p>
<p>
    <em>
        b.1) 1.000 euros para obras de construcción y demolición de escasa
        entidad, es decir si los RCDs generados no superan los 50 m³.
    </em>
</p>
<p>
    <em>
        b.2) 50.000 euros para obras de construcción y demolición cuyos
        residuos de construcción y demolición superen los 50 m³.
    </em>
</p>
<p>
    <strong>País Vasco</strong>
</p>
<p>
    ORDEN de 12 de enero de 2015, de la Consejera de Medio Ambiente y Política
    Territorial por la que se establecen los requisitos para la utilización de
    los áridos reciclados procedentes de la valorización de residuos de
    construcción y demolición.
</p>
<p>
    <a
        href="https://www.euskadi.eus/y22-bopv/es/bopv2/datos/2015/02/1500507a.shtml"
    >
        https://www.euskadi.eus/y22-bopv/es/bopv2/datos/2015/02/1500507a.shtml
    </a>
</p>
<p>
    <em>
        Comentario: Esta norma da las pautas para el uso de los áridos
        reciclados dentro del País Vasco, incluye solo áridos y dejando por
        fuera materiales con múltiples aplicaciones como suelos.
    </em>
</p>
<p>
    DECRETO 112/2012, de 26 de junio, por el que se regula la producción y
    gestión de los residuos de construcción y demolición.
</p>
<p>
    <a
        href="https://www.euskadi.eus/y22-bopv/es/bopv2/datos/2012/09/1203962a.shtml"
    >
        https://www.euskadi.eus/y22-bopv/es/bopv2/datos/2012/09/1203962a.shtml
    </a>
</p>
<p>
    <em>
        Comentarios: Este Decreto transpone el real decreto 105/2008 sobre RCD,
        entre sus particularidades da las obligaciones de los productores de
        RCD en obra menor como lo dice el siguiente artículo:
    </em>
</p>
<p>
    <em>
        Artículo 9.– Obligaciones de las personas productoras y poseedoras de
        residuos de construcción y demolición procedentes de obra menor.
    </em>
</p>
<p>
    <em>
        Las personas productoras y poseedoras de residuos de construcción y
        demolición procedentes de obra menor deberán cumplir con las siguientes
        obligaciones:
    </em>
</p>
<p>
    <em>
        La persona productora, o la poseedora en su caso, deberá efectuar la
        separación en origen de los residuos de construcción y demolición
        procedentes de obra menor contemplando, como mínimo, las tres
        fracciones siguientes:
    </em>
</p>
<p>
    <em>
        1.– Residuos pétreos: ladrillos, hormigón, baldosas, piedras y roca,
        cerámica (excluyéndose el yeso de falsos techos, molduras y paneles
        porque impide ciertos aprovechamientos del resto de materiales
        pétreos).
    </em>
</p>
<p>
    <em>
        2.– Residuos peligrosos: amianto, pinturas, detergentes, colas,
        resinas, aditivos, etc.
    </em>
</p>
<p>
    <em>
        3.– Residuos no peligrosos: vidrio, madera, residuos metálicos,
        elementos de PVC y otros plásticos, etc.
    </em>
</p>
<p>
    <em>
        La persona poseedora deberá transportar y depositar los residuos de las
        obras, correctamente seleccionados, en el punto limpio más cercano al
        del domicilio de generación de los residuos o en la forma en que
        determinen las ordenanzas municipales.
    </em>
</p>
<p>
    <em>
        La persona productora deberá presentar ante el Ayuntamiento
        documentación acreditativa de la correcta gestión de los residuos de
        construcción y demolición.
    </em>
</p>
<p>
    <strong>La Rioja</strong>
</p>
<p>
    Decreto 44/2014, de 16 de octubre, por el que se regulan las actividades de
    producción y gestión de residuos y su registro.
</p>
<p>
    <a
        href="http://www.larioja.org/bor/es/boletines-nuevo?tipo=2&amp;fecha=2014/10/22&amp;referencia=1761180-4-HTML-484374-X"
    >
        http://www.larioja.org/bor/es/boletines-nuevo?tipo=2&amp;fecha=2014/10/22&amp;referencia=1761180-4-HTML-484374-X
    </a>
</p>
<p>
    <em>
        Comentario: En el artículo 17 este Decreto se hace referencia a las
        obligaciones de los productores de RCD dando unas cuantías mínimas para
        las fianzas.
    </em>
</p>
<p>
    <em>
        El articulo 18 habla sobre los la utilización de RCD en Restauración,
        acondicionamiento o relleno de obras con residuos inertes, estos RCD
        deben proceder de plantas de valorización de RCD.
    </em>
</p>
<p>
    Plan Director de Residuos de La Rioja 2016-2026
</p>
<p>
    <em>
        Comentarios: Este plan está todavía en periodo de redacción y deroga el
        anterior, Plan Director de Residuos de La Rioja 2007-2015, hay un
        apartado para los RCD.
    </em>
</p>
<p>
    <em>
        En este nuevo plan podemos destacar el convenio a que ha llegado la
        administración con las plantas de tratamiento para la recogida de RCD
        en municipios de menos de 1000 habitantes, previniendo de esta manera
        el vertido incontrolado en zonas rurales.
    </em>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Valencia</strong>
</p>
<p>
    ORDEN 26/2014, de 30 de octubre, de la Consellería de Infraestructuras,
    Territorio y Medio Ambiente, por la que se aprueba el documento de
    desarrollo de las medidas articuladas en el Programa de Prevención del Plan
    Integral de Residuos de La Comunitat Valenciana
</p>
<p>
    <em>
        Comentarios: Esta Orden que aprueba las medidas a tomar para todos los
        residuos de la Comunidad Valenciana, en el apartado de RCD dice:
    </em>
</p>
<p>
    <em>
        Medidas para el fomento de la prevención de los residuos de
        construcción y demolición (directas)
    </em>
</p>
<ul>
    <li>
        <em>
            – Medida 4.1. Elaboración de un modelo de ordenanza municipal que
            regule la obligación de los productores de constituir una fianza o
            garantía financiera que asegure el cumplimiento de la correcta
            gestión, así como la bonificación o exención en el canon por la
            separación en origen de los residuos generados en la obra,
            vinculadas al otorgamiento de la licencia municipal de obras.
        </em>
    </li>
    <li>
        <em>
            – Medida 4.2. Promover la inclusión en los pliegos de los contratos
            de obra que celebre la Administración de la Generalitat de
            criterios medioambientales de carácter objetivo de prevención y
            reutilización para valoración de la adjudicación.
        </em>
    </li>
    <li>
        <em>
            – Medida 4.3. Promover la puesta en marcha de acciones formativas
            dirigidas a las empresas del sector de la construcción para reducir
            la generación de los residuos de construcción y demolición.
        </em>
    </li>
    <li>
        <em>
            Medidas de apoyo a la prevención de los residuos de construcción y
            demolición (indirectas)
        </em>
    </li>
    <li>
        <em>
            – Medida 4.4. Incentivar la utilización de determinados residuos de
            construcción y demolición como residuos inertes adecuados en obras
            de restauración, acondicionamiento y relleno, o con fines de
            construcción.
        </em>
    </li>
    <li>
        <em>
            – Medida 4.5. Difusión entre los sectores implicados de las
            prescripciones técnicas exigidas en la normativa específica para la
            utilización de áridos reciclados en el sector de la construcción.
        </em>
    </li>
</ul>
<p>
    DECRETO 200/2004, de 1 de octubre, del Consell de la Generalitat, por el
    que se regula la utilización de residuos inertes adecuados en obras de
    restauración, acondicionamiento y relleno, o con fines de construcción.
</p>
<p>
    <em>
        Comentarios: Este Decreto da las pautas para la utilización de
        materiales reciclados y de residuos en obras de restauración,
        acondicionamiento y relleno, definiendo en las siguientes categorías
        los Residuos Inertes adecuados.
    </em>
</p>
<p>
    <em>
        a) Los excedentes no aprovechados de tierras y piedras no contaminadas
        de excavación y desmonte, codificados de acuerdo con la Lista Europea
        de Residuos como LER 17 05 04, tierras y piedras que no contienen
        sustancias peligrosas, y LER 20 02 02, tierra y piedras, y los residuos
        inertes homogéneos generados en el desarrollo de obras de
        infraestructuras hidráulicas, de transporte, comunicaciones, suministro
        energético y eléctrico, cuando la utilización prevista para estos tipos
        de residuos suponga el empleo de un volumen inferior a 50.000 m³.
    </em>
</p>
<ul>
    <li>
        <em>
            b) Residuos inertes procedentes de la prospección, extracción de
            minas y canteras y tratamientos físicos y químicos de minerales,
            incluidos en el capítulo 1 de la Lista Europea de Residuos, con un
            contenido en humedad inferior al 70% en peso.
        </em>
    </li>
    <li>
        <em>
            c) Residuos que de conformidad con la legislación sectorial
            aplicable a materiales de construcción, sean aptos para su
            utilización en obras de restauración, acondicionamiento y relleno,
            o con fines de construcción.
        </em>
    </li>
    <li>
        <em>
            d) Aquellos otros residuos a los que se refiere el artículo 5 del
            presente decreto, cuando sean declarados como tales por la
            conselleria competente en medio ambiente, de acuerdo con el
            procedimiento establecido en los artículos 6 y siguientes.
        </em>
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>2.8 Nuevas Legislaciones sobre RCD en países emergentes.</strong>
</p>
<p>
    En numerosos países en vía de desarrollo se están implementando nuevas
    normativas de protección medioambiental, muchas de ellas con incidencia
    directa en la gestión y control de los RCD que produce el sector de la
    construcción.
</p>
<p>
    Los problemas derivados de su gran producción y nula gestión, han
    ocasionado monumentales escombreras y vertederos incontrolados en los
    entornos de numerosas ciudades que han propiciado que los gobiernos se
    hayan interesado en resolver estos problemas mediante la aparición de
    nuevas normativas y legislaciones.
</p>
<p>
    A continuación exponemos algunos ejemplos:
</p>
<p>
    <strong>Colombia</strong>
    : La resolución 0472 del 2017 regula la gestión de RCD en Colombia.
</p>
<p>
    <a href="http://www.minambiente.gov.co/index.php/normativa/resoluciones">
        http://www.minambiente.gov.co/index.php/normativa/resoluciones
    </a>
</p>
<p>
    Bogotá cuenta con una ordenanza de control de estos residuos que obliga a
    los productores a la correcta gestión, en obras de gran magnitud como la
    nuevas obras del metro de Bogotá, este control ya se está realizando,
    quedando todavía mucho camino por recorrer en relación con los pequeños
    productores de los cuales no se tiene un control.
</p>
<p>
    DECRETO 586 de 2015 (Diciembre 29) “Por medio del cual se adopta el modelo
    eficiente y sostenible de gestión de los Residuos de Construcción y
    Demolición - RCD en Bogotá D.C.”
</p>
<p>
    <a href="http://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=64233">
        http://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=64233
    </a>
</p>
<p>
    <strong>Perú</strong>
    : Cuenta con una legislación a nivel estatal que actualmente está siendo
    modificada, se nota por parte de las instituciones del estado un interés
    por el control de estos residuos, llegándose a publicar la guía de manejo
    de residuos de construcción para obra menor.
</p>
<p>
    <a
        href="http://www.minam.gob.pe/calidadambiental/wp-content/uploads/sites/22/2013/10/MANEJO-DE-RESIDUOS-DE-CONSTRUCCI%25C3%2593N-21-x-15-ok-2.pdf"
    >
        http://www.minam.gob.pe/calidadambiental/wp-content/uploads/sites/22/2013/10/MANEJO-DE-RESIDUOS-DE-CONSTRUCCI%C3%93N-21-x-15-ok-2.pdf
    </a>
</p>
<p>
    Reglamento para la gestión y manejo de los residuos de las actividades de
    la construcción y demolición.
</p>
<p>
    <a
        href="http://www2.congreso.gob.pe/sicr/cendocbib/con4_uibd.nsf/B12E4C752C0B6E2605257D71006016AF/$FILE/DS003_2013ReglamentoResiduosConstrucci%25C3%25B3nDemolici%25C3%25B3n.pdf"
    >
        http://www2.congreso.gob.pe/sicr/cendocbib/con4_uibd.nsf/B12E4C752C0B6E2605257D71006016AF/$FILE/DS003_2013ReglamentoResiduosConstrucci%C3%B3nDemolici%C3%B3n.pdf
    </a>
</p>
<p>
    <strong>México: </strong>
    Proyecto de norma ambiental para el distrito federal,
    PROY-NADF-007-RNAT-2013
</p>
<p>
    <a
        href="http://www.pgjdf.gob.mx/fedapur/DF/Normas/nadf-007-rnat-2004%2520(cascajo).pdf"
    >
        http://www.pgjdf.gob.mx/fedapur/DF/Normas/nadf-007-rnat-2004%20(cascajo).pdf
    </a>
</p>
<p>
    Foto 5
</p>
<p>
    <strong>Marruecos:</strong>
</p>
<p>
    Reales Decretos ó Decisiones Comunales sobre RCD aparecen en Marruecos de
    acuerdo a Planes estratégicos relacionados con el Medioambiente como el
    “PLAN ESTRATEGIQUE DE DEVELOPMENT INTEGREE ET DURABLE 2015-2020”.
</p>
