<h4>
  Caso práctico para la gestión de RCD.</u>
</h4>
<p>
    En una ciudad de 210.000 habitantes, se producen 0,45 toneladas de RCD por
    habitante y año, esta población está desprovista de planta de tratamiento
    de RCD, por lo que todos los escombros producidos se depositan en una
    vaguada con una superficie de 230.000m2 metros cuadrados y 4 metros de
    altura media a rasante, actualmente existe una acumulación aproximada de
    650.000 metros cúbicos de RCD.
</p>
<p>
    Un empresario del sector de la construcción, tiene la idea de iniciar un
    proyecto de reciclaje, quiere recabar más datos y se presenta en el
    Municipio averiguando que la superficie de obra construida anual se cifra
    en unos 241.000m2. (130.000 de obra nueva, 73.000 de obra civil, 23.000 de
    obra no residencial, y 15.000 de reformas).
</p>
<p>
    En un radio de 40 km, existen otras 4 ciudades que suman una población de
    55.000 habitantes, por lo que piensa que parte de los RCD que producen
    podrían también captarse al menos un 30% para su proyecto.
</p>
<p>
    El particular está pensando que quiere invertir en la construcción de una
    planta de reciclaje de RCD, pues ve en ésta la oportunidad de negocio y nos
    contrata como expertos en la materia para llevar a cabo todos los tramites
    de proyecto y puesta en marcha de esta instalación, cuenta con un terreno
    de 60.000m2, y una restauración de una cantera con un hueco minero de
    100.000 metros cúbicos, quiere que le realicemos el proyecto y un estudio
    de viabilidad a 5 años para poder tomar la decisión correcta.
</p>
<p>
    Nuestras primeras averiguaciones constatan que existe un mercado de áridos
    naturales a 60 kilómetros de la población con precios medios de 9€/tonelada
    y un único vertedero legalizado a 38 Km con precios de entrada de 30€
    tonelada.
</p>
