.row
  .col-sm-12
    %h1= @topic.title
.row
  .col-sm-12.topic_body
    = render inline: @topic.content
- unless current_user.topics.include? @topic
  .row
    .col-sm-12.text-center.test-button
      = link_to "Realiza el test", new_mode_topic_exam_path(@mode, @topic),
                                    class: 'btn btn-default btn-exp',
                                    target: '_blank'
