<div id="presentation" class="row">
  <div id="video-presentation" class="col-lg-5 col-xs-12 text-center" >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oyk21afdCjk" frameborder="0" gesture="media" allowfullscreen width="100%"></iframe>
    </div>
  </div>

  <div class=" col-lg-7 col-xs-12" >
    <p>
      El curso, tiene como objetivo la divulgación del conocimiento para la correcta gestión de los residuos de construcción y demolición (RCD), y el uso eficiente y viable de los materiales reciclados, dando a conocer las herramientas actuales tanto legales para el control de su gestión, como normativas de regulación para el uso de los áridos reciclados, pretendiendo con ello dar a conocer las claves de sostenibilidad medioambiental y económica en la aproximación a los objetivos de mejora del sector de los RCD de las directivas de la UE y de los Países Emergentes.

    </p>
    <p>
      Este curso de Gestión de RCD, esta dirigido a los empleados del sector de la construcción, como a estudiantes y titulados universitarios que pueden encontrar en esta actividad una salida laboral tanto empresarial como para el personal técnico necesario de las Administraciones Públicas.
    </p>
  </div>

  <div id="professorate" class="row">
    <div class="col-xs-12" >
      <div class="master-name">
        Curso pratrocinado por
      </div>
    </div>
  </div>
  <div id="footer" class='row'>
    <div class='col-xs-12 col-lg-9'>
      <div class='col-xs-4 col-md-4 col-lg-3'>
        <%= image_tag "logo_1.jpg", class: "logo-unv", width: "100%" %>
      </div>
      <div class='col-xs-4 col-md-4 col-lg-3' style='margin-top:18px;'>
        <%= image_tag "logo_2.jpg", class: "logo-unv", width: "100%" %>
      </div>
      <div class='col-xs-4 col-md-4 col-lg-3' style='margin-top:32px;'>
        <%= image_tag "logo_3.jpg", class: "logo-unv", width: "100%" %>
      </div>
    </div>
</div>
