<!-- <div class="row">
  <div class="col-xs-12" >
    <div id="master-name">
      INTRODUCCION AL CURSO ON LINE DE GESTION DE RESIDUOS DE CONSTRUCCION Y
      DEMOLICION (RCD)
    </div>
  </div>
</div> -->

<div class="row">
  <div id="video-presentation" class="col-lg-5 col-xs-12 text-center" >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oyk21afdCjk" frameborder="0" gesture="media" allowfullscreen width="100%"></iframe>
    </div>
  </div>

  <div class=" col-lg-7 col-xs-12" >
    <p>
        Los Residuos de Construcción y Demolición (RCD), por su gran volumen de
        producción, por su impacto en el medio ambiente y por su facilidad de
        reciclaje, representan uno de los sectores en desarrollo más importantes a
        nivel mundial relacionados con la protección del medioambiente y el uso
        eficiente de los recursos.
    </p>
    <p>
        La actividad constructora paralelamente a su importante actividad de
        crecimiento, debe de manera eficaz y sostenible tener en cuenta tanto la
        correcta gestión y reciclaje de los residuos que produce, como el consumo
        de los áridos y materiales reciclados derivados de esta actividad.
    </p>
    <p>
        El Plan de Acción de la Unión Europea para la Economía Circular, contempla
        a día de hoy el reciclaje de los residuos de construcción y demolición como
        uno de los cinco sectores prioritarios en desarrollo para todos los países
        que la conforman, factor que en España ha motivado un cambio positivo de
        tendencia a nivel de compromiso y legislativo, y que deberá materializarse
        en el sector en los próximos años.
    </p>
    <p>
        Las legislaciones en otros continentes y países en desarrollo están también
        cada vez mas comprometidas con el medioambiente en relación con la
        actividad constructora, y a través de ellas se buscan las soluciones a los
        problemas de los residuos que se producen y en especial a los residuos de
        construcción y demolición que se generan no solamente con la actividad
        constructora, sino también los derivados de las catástrofes naturales, y
        que generalmente se han depositado sin ningún control en grandes
        vertederos, botaderos, ó rellenos sanitarios en los entornos de las grandes
        ciudades.
    </p>
  </div>

  <div class="col-xs-12" >
    <p>
        Aunque en algunos países europeos como Holanda ó Alemania, ó asiáticos como
        Japón, las tasas de reciclado se encuentran por encima del 70% de los
        residuos de construcción y demolición que se producen, y numerosos países
        de la UE como Reino Unido, Francia, Italia ó España presentan porcentajes
        cercanos al 40%, países que se han integrado en los últimos años a la UE, y
        la mayoría de los países en desarrollo tanto latinoamericanos como México,
        Colombia, Chile, etc., asiáticos como en China, ó africanos como Marruecos,
        están contemplado a día de hoy la necesidad de desarrollar y regular el
        sector del reciclaje de los RCD.
    </p>
    <p>
        La Directiva europea de residuos contempla que en el año 2020, el 70% de
        los residuos que se producen deben valorizarse correctamente, entendiendo
        por valorización el reciclaje de áridos y materiales para multitud de
        aplicaciones ya contrastadas principalmente en la construcción de
        carreteras, hormigones, prefabricados, etc., y la valorización también
        referida a materiales para rellenos y restauraciones paisajísticas
        gestionadas por empresas autorizadas.
    </p>
    <p>
        La Unión Europea prevé que hasta el año 2020 se crearán 400.000 puestos de
        trabajo directos derivados de la economía circular para el sector de los
        residuos, 52,000 de ellos en España.
    </p>
    <p>
        En los países emergentes, se prevé que el reciclado de RCD puede llegar
        para el año 2020 a porcentajes cercanos al 10%, esto implica la necesidad
        de acometer nuevos proyectos a través de las experiencias, tecnologías y
        planteamientos, que han generado beneficios medioambientales y económicos
        en los últimos 20 años para los países que han contemplado la gestión de
        RCD.
    </p>
    <p>
        El sector de la construcción está evolucionando por tanto hacia criterios
        de sostenibilidad, con especial respeto y compromiso con el medioambiente,
        esto implica que la correcta gestión de los RCD contribuye de manera
        directa no solo a evitar su depósito en vertederos, botaderos, ó rellenos
        sanitarios, sino también mediante su valorización y reciclado, al ahorro en
        la extracción de recursos naturales.
    </p>
    <p>
        En España, la aparición del Real Decreto RD 105/2008 sobre la gestión de
        los RCD constituye el arranque legislativo como regulación básica del
        estado español para esta actividad, basando su control en un sistema
        sencillo de fianzas a través de las licencias de obra que otorgan los
        Ayuntamientos ó Municipalidades, obligando al productor con esta fianza ó
        garantía equivalente a responder de su correcta gestión, la fianza se
        recupera íntegramente una vez se han entregado los residuos a Gestores
        Autorizados.
    </p>
    <p>
        Aunque España a partir del Real Decreto 105/2008 cuanta con una legislación
        muy completa a nivel de Comunidades Autónomas (CCAA), y de Ordenanzas
        Municipales en los Ayuntamientos para el control de los RCD, todavía
        estamos en el proceso de una aplicación eficaz.
    </p>
    <p>
        La aparición de nuevas Legislaciones (Ordenes Ministeriales ó Programas
        Marco de Residuos como el PEMAR 2016-2020), basadas en los nuevos conceptos
        de economía circular de las Directivas Europeas, están creando unas
        expectativas más favorables para el sector de reciclado que deberá
        posicionarse ante todos los agentes que intervienen en su ciclo de vida de
        manera que puedan cumplirse los objetivos de valorización marcados.
    </p>
    <p>
        Los Ayuntamientos, deben regular a través de las licencias de obras los
        flujos de residuos, y las CCAA crear un registro único de producción y
        control de RCD apoyando la idea de un certificado único y oficial emitido
        por los gestores autorizados que garantice la trazabilidad del residuo y su
        correcta gestión, y se debe incentivar también de manera efectiva los
        criterios de contratación pública verde (CPV) para el consumo de los áridos
        y materiales reciclados, principalmente en las obras públicas.
    </p>
    <p>
        Este curso de Gestión de Residuos de Construcción y Demolición (RCD), trata
        de formar tanto a los empleados del sector de la construcción, como a
        estudiantes y titulados universitarios que pueden encontrar en esta
        actividad una salida laboral tanto empresarial como para el personal
        técnico necesario de las Administraciones Públicas.
    </p>
    <p>
        El curso, tiene como objetivo la divulgación del conocimiento para la
        correcta gestión de los RCD, y el uso eficiente y viable de los materiales
        reciclados, dando a conocer las herramientas actuales tanto legales para el
        control de su gestión, como normativas de regulación para el uso de los
        áridos reciclados, pretendiendo con ello dar a conocer las claves de
        sostenibilidad medioambiental y económica en la aproximación a los
        objetivos de mejora del sector de los RCD de las directivas de la UE y de
        los Países Emergentes.
    </p>
  </br>
  </br>
  </br>
    <h4>
      <strong>
        José Ignacio Tertre Torán
      </strong>
    </h4>
    <p>
      <strong>
        Director del Curso de Gestión de RCD
      </strong>
    </p>
    <p>
      <strong>
        Presidente de la Asociación Española de Reciclaje de Residuos de
        Construcción y Demolición. (RCDA).
      </strong>
    </p>
    <p>
      <strong>
        Vocal del Consejo de Administración (BOARD) de la Federación Internacional
        de Reciclaje (FIR).
      </strong>
    </p>
  </div>
</div>
