<!-- <div class="row">
  <div class="col-xs-12" >
    <div id="master-name">
      INTRODUCCION AL CURSO ON LINE DE GESTION DE RESIDUOS DE CONSTRUCCION Y
      DEMOLICION (RCD)
    </div>
  </div>
</div> -->

<div id="presentation" class="row">
  <div id="video-presentation" class="col-lg-5 col-xs-12 text-center" >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oyk21afdCjk" frameborder="0" gesture="media" allowfullscreen width="100%"></iframe>
    </div>
  </div>

  <div class=" col-lg-7 col-xs-12" >
    <p>
      El curso, tiene como objetivo la divulgación del conocimiento para la correcta gestión de los residuos de construcción y demolición (RCD), y el uso eficiente y viable de los materiales reciclados, dando a conocer las herramientas actuales tanto legales para el control de su gestión, como normativas de regulación para el uso de los áridos reciclados, pretendiendo con ello dar a conocer las claves de sostenibilidad medioambiental y económica en la aproximación a los objetivos de mejora del sector de los RCD de las directivas de la UE y de los Países Emergentes.

    </p>
    <p>
      Este curso de Gestión de RCD, esta dirigido a los empleados del sector de la construcción, como a estudiantes y titulados universitarios que pueden encontrar en esta actividad una salida laboral tanto empresarial como para el personal técnico necesario de las Administraciones Públicas.
    </p>

  </div>

  <!-- </br>
  </br>
  </br>
    <h4>
      <strong>
        José Ignacio Tertre Torán
      </strong>
    </h4>
    <p>
      <strong>
        Director del Curso de Gestión de RCD
      </strong>
    </p>
    <p>
      <strong>
        Presidente de la Asociación Española de Reciclaje de Residuos de
        Construcción y Demolición. (RCDA).
      </strong>
    </p>
    <p>
      <strong>
        Vocal del Consejo de Administración (BOARD) de la Federación Internacional
        de Reciclaje (FIR).
      </strong>
    </p> -->
  </div>
</div>
