<div class="row">
  <div class="col-lg-3 text-center professor-image" >
    <%= image_tag 'professor1.png', class: "img-circle img-professor" %>
    <h3> Jose Ignacio Tertre Toran</h3>
    <h4>Presidente en RCD Asociación</h4>
  </div>
  <div class="col-lg-9" >
    <p class='bold'>
      DIRECTOR DEL CURSO “ON LINE” DE GESTION DE RCD
    </p>
    <p class='bold'>
        JOSÉ IGNACIO TERTRE TORAN
    </p>
    <p>
      DIRECTOR DEL CURSO “ON LINE” DE GESTION DE RCD
    </p>

    <p>
        Experiencia Empresarial:
    </p>
    <ul>
        <li>
            Director NAC3, SA, Arquitectura Efímera, Construcción y Medioambiente.
            (1985-1995).
        </li>
        <li>
            Consejero Delegado de TECNOLOGIA Y RECICLADO, (Gestor de RCD por la
            CAM) (1996-2008)
        </li>
        <li>
            Consejero Delegado de TECMOVIL con la empresa Alemana REMEX-REMONDIS
            (2004-2008)
        </li>
        <li>
            Consejero “ALCORES RECICLA” concesionario gestión RCD Sevilla.
            (2003-2009)
        </li>
        <li>
            Consejero Grupo ZEX 2008 Expo-Agua Zaragoza, (2008-2009)
        </li>
        <li>
            Presidente Comité de Aridos Reciclados, ANEFA. (1996-2004)
        </li>
        <li>
            Presidente SACO3, empresa líder en recogida de RCD en Big-Bag
            (1996-2014).
        </li>
        <li>
            Gerente de la Ingeniería 3 RECYCLING.(2009-2012)
        </li>
        <li>
            Presidente de la Asociación Española de Gestores de RCD, GERD,
            (2009-2014)
        </li>
        <li>
            BOARD HAITI 360, Llc , HAITI BETON (2011-2013)
        </li>
        <li>
            BOARD Federación Internacional de Reciclaje FIR. (2010-2018)
        </li>
        <li>
            Presidente de la Asociación Española de Reciclaje de RCD, RCD
            Asociación, (2015-Actual).
        </li>
        <li>
            Presidente y CEO de CHS, Click House System, SL. EBT, (2015-Actual).
        </li>
    </ul>
    <p>
        Docencia
    </p>
    <ul>
        <li>
            Profesor del Master en Gestión de Residuos en la Universidad Autónoma
            de Madrid, (Actual)
        </li>
        <li>
            Profesor del Master en Medio Ambiente, Universidad de Málaga
        </li>
        <li>
            Profesor del Master en Medio Ambiente y Arquitectura Bioclima tica.
            ETSAM, UPM. Madrid
        </li>
        <li>
            Profesor Master Medioambiente, Escuela de Organización Industrial, EOI
            (Actual)
        </li>
    </ul>
    <p>
        Formación Académica:
    </p>
    <ul>
        <li>
            Diplomado Universitario por la Escuela Técnica Superior de Arquitectura
            de Madrid, ETSAM, Universidad Politécnica de Madrid.
        </li>
        <li>
            Master en Dirección de Empresas Constructoras e Inmobiliarias , MDI,
            Universidad Politécnica de Madrid, UPM.
        </li>
        <li>
            Master en Gestión Inmobiliaria, Centro Superior de Arquitectura,
            Fundación Antonio Camuñas.
        </li>
        <li>
            Agente Colegiado de la Propiedad Inmobiliaria API.
        </li>
        <li>
            Postgrado en Valoraciones Urbanísticas por la Universidad Politécnica
            de Cataluña, UPC.
        </li>
        <li>
            Curso de Gestión de Residuos por la UPM, Madrid.
        </li>
        <li>
            Diplomado IESE “Foro Medio Ambiente y Desarrollo Sostenible”,
            Barcelona.
        </li>
        <li>
            Diplomado en Programa Superior “Directores de Medio Ambiente” Fundación
            Entorno, Bruselas.
        </li>
    </ul>
  </div>
</div>
