<div id="professorate" class="row">
  <div class="col-xs-12" >
    <div class="master-name">
      Profesorado
    </div>
  </div>
</div>
<%= link_to 'Descargar curriculum en PDF', welcome_download_pdf_url(filename: 'curriculum.pdf'), data: {turbolinks: false} %>
<%= render 'professorate_1' %>
</br>
</br>
</br>
<%= render 'professorate_2' %>
