<div id="professorate" class="row">
  <div id="professor" class="col-lg-3 text-center" >
    <%= image_tag 'professor1.png', class: "img-circle img-professor" %>
    <h3> Jose Ignacio Tertre Toran</h3>
    <h4>Presidente en RCD Asociación</h4>
  </div>
  <div class="col-lg-9" >
    <p>
      DIRECTOR DEL CURSO “ON LINE” DE GESTION DE RCD
    </p>
    <p>
        JOSÉ IGNACIO TERTRE TORAN
    </p>
    <p>
        Experiencia Empresarial:
    </p>
    <ul>
        <li>
            Director NAC3, SA, Arquitectura Efímera, Construcción y Medioambiente.
            (1985-1995).
        </li>
        <li>
            Consejero Delegado de TECNOLOGIA Y RECICLADO, (Gestor de RCD por la
            CAM) (1996-2008)
        </li>
        <li>
            Consejero Delegado de TECMOVIL con la empresa Alemana REMEX-REMONDIS
            (2004-2008)
        </li>
        <li>
            Consejero “ALCORES RECICLA” concesionario gestión RCD Sevilla.
            (2003-2009)
        </li>
        <li>
            Consejero Grupo ZEX 2008 Expo-Agua Zaragoza, (2008-2009)
        </li>
        <li>
            Presidente Comitê de Aridos Reciclados, ANEFA. (1996-2004)
        </li>
        <li>
            Presidente SACO3, empresa líder en recogida de RCD en Big-Bag
            (1996-2014), actual Consejero de la sociedad con SALMEDINA-TRI.
        </li>
        <li>
            Gerente de la Ingeniería 3 RECYCLING.(2009-2012)
        </li>
        <li>
            Presidente de la Asociación Española de Gestores de RCD, GERD,
            (2009-2014)
        </li>
        <li>
            BOARD HAITI 360, Llc , HAITI BETON (2011-2013)
        </li>
        <li>
            BOARD Federación Internacional de Reciclaje FIR. (2010-Actual)
        </li>
        <li>
            Presidente de la Asociación Española de Reciclaje de RCD, RCD
            Asociación, (2015-Actual).
        </li>
        <li>
            Presidente y CEO de Click House System, SL. EBT, (2015-Actual).
        </li>
    </ul>
    <p>
        Formación Académica:
    </p>
    <ul>
        <li>
            Diplomado Universitario por la Escuela Técnica Superior de Arquitectura
            de Madrid, ETSAM, Universidad Politécnica de Madrid.
        </li>
        <li>
            Master en Dirección de Empresas Constructoras e Inmobiliarias , MDI,
            Universidad Politécnica de Madrid, UPM.
        </li>
        <li>
            Master en Gestión Inmobiliaria, Centro Superior de Arquitectura,
            Fundación Antonio Camuñas.
        </li>
        <li>
            Agente Colegiado de la Propiedad Inmobiliaria API.
        </li>
        <li>
            Postgrado en Valoraciones Urbanísticas por la Universidad Politécnica
            de Cataluña, UPC.
        </li>
        <li>
            Curso de Gestión de Residuos por la UPM, Madrid.
        </li>
        <li>
            Diplomado IESE “Foro Medio Ambiente y Desarrollo Sostenible”,
            Barcelona.
        </li>
        <li>
            Diplomado en Programa Superior “Directores de Medio Ambiente” Fundación
            Entorno, Bruselas.
        </li>
        <li>
            Profesor del Master en Gestión de Residuos en la Universidad Autónoma
            de Madrid, (Actual)
        </li>
        <li>
            Profesor del Master en Medio Ambiente, Universidad de Málaga
        </li>
        <li>
            Profesor del Master en Medio Ambiente y Arquitectura Bioclima tica.
            ETSAM, UPM. Madrid
        </li>
        <li>
            Profesor Master Medioambiente, Escuela de Organización Industrial, EOI
            (Actual)
        </li>
    </ul>
    <p>
        Participación en Comités Técnicos y Normalización:
    </p>
    <ul>
        <li>
            AENOR-ANEFA C.T.N. 146., “Áridos Reciclados”. (Grupo de Trabajo para la
            Normalización de A/R).
        </li>
        <li>
            AENOR C.T.N. 134, UNE 134002 EX. Normalización de los “Centros de
            Eliminación y Valorización”
        </li>
        <li>
            AENOR C.T.N. 41, “Normalización de los procesos de Deconstrucción”.
        </li>
        <li>
            Ministerio de Medioambiente MAGRAMA, Grupo de trabajo en la redacción
            del Real Decreto 105/2008 de RCD.
        </li>
    </ul>
    <p>
        Actividad Profesional:
    </p>
    <p>
        En el año 85 funda la sociedad NAC3 Construcciones, dedicada al diseño y
        ejecución de proyectos de arquitectura efímera, construcción, y
        medioambiente a nivel nacional e internacional.
    </p>
    <p>
        Realiza más de 150 actuaciones y más de 100.000m2 de obra ejecutada
        principalmente en naves y edificios industriales, y vivienda. Obtiene la
        adjudicación del diseño y construcción en el concurso del Pabellón
        Itinerante del MINER, diseña y construye en certámenes internacionales el
        Pabellón de España en las Ferias de Muestras de Paris y Munich, obtiene el
        Premio Pabellón Nacional en FITUR, y realiza las Exposiciones
        Iberoamericanas del V Centenario.
    </p>
    <p>
        En el año 95 inicia en colaboración con el Consejo Superior de
        Investigaciones Científicas CSIC, Instituto “Eduardo Torroja” un proyecto
        de I+D, sobre el reciclado de los Residuos de Construcción y Demolición en
        Madrid., instala la primera Planta de tratamiento de Residuos de
        construcción en España, y define y patenta un proceso de producción a
        partir del tratamiento de escombros para la obtención de un árido reciclado
        denominado Rek Z2, sustitutivo de Zahorras Naturales que obtiene en los
        años 96 y 97, premio Actualidad Económica “100 Mejores Ideas del año”.
    </p>
    <p>
        Como desarrollo de este proyecto pionero del reciclaje de RCD en España,
        obtiene en el año 97 la Catalogación Europea como Proyecto CDTI-EUREKA,
        donde trabaja con terceros países europeos como el centro de investigación
        de residuos de Polonia, IGO. para la puesta en obra de materiales
        reciclados en la construcción de carreteras, en estos años obtiene la
        colaboración en el proyecto de la Comunidad de Madrid, y del Ministerio de
        Ciencia y Tecnología.
    </p>
    <p>
        En el año 98 acuerda una Unión Temporal de Empresas con el grupo de
        demolición DETECSA para la puesta en marcha de una planta de reciclado de
        RCD a escala Industrial en la Comunidad de Madrid.
    </p>
    <p>
        En el año 2000, dirige y finaliza la puesta en marcha de la planta de
        reciclado “La Palentina”, donde desde se producen más de 200.000 Ton/Año de
        áridos reciclados.
    </p>
    <p>
        Obtiene con el proyecto “Madrid Recicla RCD”, el Premio Europeo de Medio
        Ambiente, Sección Española en el periodo 2000-2003.
    </p>
    <p>
        Obtiene en 2003 la primera certificación en España AENOR Medio Ambiente
        Servicios para Centros de Eliminación y Valorización de RCD.
    </p>
    <p>
        Hasta el año 2008 dirige Tecnología y Reciclado S.L., desarrollando nuevos
        proyectos de Gestión de Residuos de Construcción en diferentes Comunidades
        Autónomas, principalmente en Andalucía con el proyecto Alcores Recicla,
        concesionario para la gestión de RCD en Sevilla con tres plantas de
        tratamiento. Desarrolla con diferentes institutos de investigación nuevas
        líneas de producción para nuevos productos reciclados.
    </p>
    <p>
        Constituye con TECREC, la empresa TECmóvil en alianza con la empresa
        Alemana Remex, RWE (MBR-Remex) para el reciclado con equipos móviles en
        obras singulares de demolición y en áreas de reciclado.
    </p>
    <p>
        Desde el año 2008 compagina su actividad como Presidente de la Asociación
        Nacional de RCD (GERD), con la dirección de la ingeniería 3 Recycling, S.L,
        realizando numerosos estudios y planes de gestión de RCD, estudios de
        viabilidad, proyectos técnicos y medioambientales, entre otros: el Plan de
        Gestión de RCD del Edificio España en Madrid, reciclado de pabellones de la
        sociedad Expoagua en Zaragoza, contratación de los concursos públicos de
        demolición y reciclaje con el grupo ZEX D+G., estudio de Viabilidad de
        gestión de RCD para la Junta de Extremadura, plan Empresarial de RCD en
        Bulgaria y Rumania para la empresa AGO. Revisión del Decreto Foral de RCD
        de Navarra, Desarrollo y Patente del sistema Bi-volumen para la selección y
        recogida de RCD en ciudad, estudio de Viabilidad de Plantas de tratamiento
        de RCD en La Axarquía, Málaga, Monografía de Hormigón con Áridos Reciclados
        para la empresa Cemex, Proyectos para el Comité Interino para la
        Reconstrucción de Haití, participación en los Proyectos HT Beton en Puerto
        Príncipe y Cap Haitian con el consorcio Haití 360, etc.
    </p>
    <p>
        Promueve con el instituto LOEMCO y CEMEX, la construcción de la primera
        estructura de hormigón sostenible en España realizada con áridos reciclados
        en una obra de sustitución de vivienda en Madrid.
    </p>
    <p>
        Asesora diferentes proyectos de reciclaje como en 2014 el Plan de
        Viabilidad de gestión de RCD en México DF para la empresa Concretos
        Sustentables, ó en 2015 el Plan de Viabilidad de Gestión de RCD en Kenitra,
        Marruecos, para la sociedad Ecotret. En el año 2014, funda la Empresa de
        Base Tecnológica, Click House System, SL. EBT para el desarrollo y
        fabricación de un nuevo sistema constructivo.
    </p>
    <p>
        En 2015 es nombrado Presidente de la Asociación Española de Reciclaje de
        RCD (RCD Asociación), y en 2016, evalúa a través de la empresa Maat de
        Colombia y para el Comité de Emergencias de Ecuador, los RCD producidos
        tras el terremoto.
    </p>
    <p>
        Otras Participaciones y Colaboraciones Empresariales:
    </p>
    <ul>
        <li>
            Más de 200 Ponencias sobre reciclaje de RCD en Congresos, Cursos,
            Jornadas y Conferencias desde el año 2006.
        </li>
        <li>
            Presidente Congresos Nacionales e Internacionales de RCD, años
            2006-2009
        </li>
        <li>
            Presidencia del III CONGRESO NACIONAL DE RCD. 2006. Zaragoza. .
        </li>
        <li>
            Ponente español en el Congreso de la Federación Internacional de
            Reciclaje FIR.2006. HOLANDA, “Spain as an Example”
        </li>
        <li>
            Ponente en el CONGRESO DE CONSTRUCCIÓN SOSTENIBLE HOLCIM, Sevilla 2007,
            Ponente en el CONGRESO INTERNACIONAL RESIDUOS, Pereira, Colombia,
            Septiembre 2007
        </li>
        <li>
            Ponencia Cátedra Mariano López Navarro, Zaragoza 2008-2009
        </li>
        <li>
            Ponencia em el Auditorio Príncipe Felipe, Cámara de Comercio Oviedo.
            Febrero 2009
        </li>
        <li>
            Curso Construcción Sostenible, CEDEX, Mayo 2009
        </li>
        <li>
            Presidencia del CONGRESO INTERNACIONAL DE RCD – 2009, FIR-FIDER,
            Zaragoza
        </li>
        <li>
            Ponente en el CONGRESO INTERNACIONAL, CONAMA- EIMA 2013 CHILE
        </li>
        <li>
            Colaboración con la Comunidad de Madrid, Proyecto de I+DT, Consejería
            de Educación.
        </li>
        <li>
            Colaboración con el Ministerio de Medio Ambiente, colaboración
            redacción PLAN NACIONAL DE RESIDUOS, grupo de trabajo.
        </li>
        <li>
            Ministerio de Fomento, CEDEX. aplicaciones de áridos reciclados en
            construcción.
        </li>
        <li>
            Acuerdos de colaboración con el Consejo Superior de Investigaciones
            Científicas, CSIC. Instituto de Ciencias de la Construcción, “Eduardo
            Torroja”.
        </li>
        <li>
            Participación con el Ministerio de Ciencia y Tecnología., Colaboración
            en Proyectos EUREKA y ATYCA.
        </li>
        <li>
            Colaboración con la Escuela Técnica Superior de Arquitectura de
            Madrid., Dto. Construcción y Tecnologías Arquitectónicas.
        </li>
        <li>
            Participación con el Instytut of Waste Management, IGO., Colaboración
            en el marco EUREKA sobre gestión de residuos para la construcción de
            carreteras.
        </li>
        <li>
            Colaboración para aplicaciones de áridos reciclados en la fabricación
            de Hormigones con el Laboratorio Oficial de para Ensayo de Materiales
            de Construcción LOEMCO.,
        </li>
        <li>
            Colaboración con la Escuela Técnica Superior de Ingenieros de Minas,
            UPM., departamento de Ingeniería de Materiales.
        </li>
        <li>
            EMGRISA. Colaboración en el Desarrollo de Planes de Gestión de Residuos
            de Construcción en CCAA.
        </li>
        <li>
            Universidad Autónoma de Madrid, Master en Gestión de Residuos,
            Prácticas para Alumnos.
        </li>
        <li>
            Universidad Politécnica de Madrid, ETSIM Master en Medio Ambiente.
        </li>
        <li>
            Colaboración con el Consejo Superior de Arquitectos de España. Planes
            de Gestión de RCD.
        </li>
        <li>
            Participación AENOR, Revisión Norma AENOR MEDIO AMBIENTE, Centros de
            Eliminación y Valorización de RCD.
        </li>
        <li>
            Comité asesor IFEMA, TECMA 2011-2012
        </li>
        <li>
            Comité asesor SMOPYC, Zaragoza 2012-2014
        </li>
        <li>
            Presentación GUIA ESPAÑOLA DE ARIDOS RECICLADOS, Proyecto GEAR.
            2008-2012
        </li>
        <li>
            Comité organizador ferias TECMA, IFEMA, y SMOPYC 2014 Feria de Zaragoza
        </li>
        <li>
            Colaboración 2014 proyecto ZERORCD, UPM, Instituto de la Vivienda.
        </li>
        <li>
            Ponente en el congreso de construcción sostenible WASCON2015
        </li>
        <li>
            Grupo de trabajo ST 32, CONAMA 2016
        </li>
        <li>
            Ponente en los Cursos de Verano de la Universidad de Cantabria UC2016
        </li>
        <li>
            Etc.
        </li>
    </ul>
    <p>
        Obras de construcción ejecutadas
    </p>
    <ul>
        <li>
            Diseño y Construcción del Pabellón Internacional MINER
        </li>
        <li>
            Estructuras Modulares en la Plaza de Colón, CAM, MADRID
        </li>
        <li>
            Diseño y Construcción Pabellón IBM, Madrid
        </li>
        <li>
            Pabellón Itinerante MINER.
        </li>
        <li>
            Diseño y Construcción oficinas Reddis Seguros, Sevilla, Madrid,
            Valladolid, Granada
        </li>
        <li>
            Construcción de 100 naves industriales, Polígono ”El Lomo”, Madrid
        </li>
        <li>
            Edificio de oficinas Rank Xerox, Coslada.
        </li>
        <li>
            Exposición itinerante, MINER, La Habana, Cuba.
        </li>
        <li>
            Edificio Industrial en Torrejón de Ardóz, Madrid
        </li>
        <li>
            Carril bici del Anillo Verde Ciclista del Ayuntamiento de Madrid..
        </li>
        <li>
            Distribuidor subterráneo de las torres de la antigua ciudad deportiva
            del Real Madrid
        </li>
        <li>
            Reciclado del Palacio de los Deportes de Madrid
        </li>
        <li>
            Accesos Terminal 4 de Barajas, realizados con árido reciclado, AENA
        </li>
        <li>
            Reciclado de la Terminal 4 PC de Barajas, Madrid, tras el atentado
            terrorista.
        </li>
        <li>
            Reciclado barrio de La Mina, Barcelona.
        </li>
        <li>
            Plan de Gestión de RCD para Sacyr Vallehermoso. Edificio España
        </li>
        <li>
            Aridos Reciclados en el Parque temático de la Warner
        </li>
        <li>
            Producción de áridos reciclados para aplicaciones medioambientales
        </li>
        <li>
            Reciclado de la fábrica de perfumerías GAL en Alcalá de Henares, Madrid
        </li>
        <li>
            Ampliación de carriles de la Carretera de La Coruña, DRAGADOS
        </li>
        <li>
            Áridos reciclados para procesos de producción, mezclas bituminosas,
            ASFALPASA
        </li>
        <li>
            Reciclado móvil Central Térmica, CADIZ.
        </li>
        <li>
            Expo Agua, ZARAGOZA.
        </li>
        <li>
            Puente Manises-Paterna, construido con hormigón reciclado.,CEDEX
        </li>
        <li>
            UTE Metro de Sevilla, “Alcores Recicla”
        </li>
        <li>
            Hormigón estructural con áridos reciclados, CEMEX-LOEMCO
        </li>
        <li>
            Plantas hormigón, HT Beton, HAITI 360
        </li>
        <li>
            Etc.
        </li>
    </ul>
    <p>
        Relaciones Nacionales e Internacionales:
    </p>
    <p>
        1 Premio congreso nacional de RCD, Zaragoza FIDER 2006
    </p>
    <p>
        2 Comisario Europeo MA, CONSTRUTEC, Madrid
    </p>
    <p>
        3 Ministra de Medioambiente, MAGRAMA.
    </p>
    <p>
        4 Congreso Internacional de Construcción Sostenible, HOLCIM, Sevilla
    </p>
    <p>
        5 Ministra de MA de Chile
    </p>
    <p>
        6 Presidente de Haití.
    </p>
    <p>
        7 Premio Europeo de Medioambiente, Sección Española 2003.
    </p>
    <p>
        8 Ministro de Medioambiente, MAGRAMA
    </p>
    <p>
        9 Congreso de Medioambiente en Pereira, Colombia.
    </p>
    <p>
        10 Asesor de la Presidencia, Fondo Nacional de Ahorro Vivienda, COLOMBIA
    </p>
    <p>
        11 Cámara de Obras, MEXICO DF.
    </p>
    <p>
        12 Terremoto de Ecuador, 2016
    </p>
    <p>
        13 Congreso Nacional de Aridos, Madrid 2015.
    </p>
    <p>
        14 Terremoto de Haiti, 2010.
    </p>
    <p>
        15 Congreso EIMA 2013, Chile.
    </p>
    <p>
        Publicaciones en medios de comunicación:
    </p>
    <ul>
        <li>
            Editorial “Primer Eslabón en la cadena de la Regeneración”.
        </li>
        <li>
            Demolición y Reciclado, Abr. 99
        </li>
        <li>
            Residuos y Reciclado, informe “Áridos”.
        </li>
        <li>
            Mercado Ambiental, Jun. 2000
        </li>
        <li>
            Primera Planta de Tratamiento de RCD.
        </li>
        <li>
            Demolición y Reciclado, Sep. 2001.
        </li>
        <li>
            Ingeopress, “La Palentina” Planta pionera en el Tratamiento y Reciclaje
            de RCD”, Abril 2002.
        </li>
        <li>
            Referencias de prensa desde el año 96 El País, Diario 16, Cinco Días,
            El Mundo, Arte y Cemento, Demolición y Reciclado, ABC, etc.
        </li>
        <li>
            Referencias en medios de comunicación, TVE, Antena 3, Radio Nacional,
            TELE 5.
        </li>
        <li>
            Libro: Manual de Demoliciones, Reciclado y Manipulación de Materiales,
            2003.
        </li>
        <li>
            ICARO/ Hacia una Arquitectura sostenible.
        </li>
        <li>
            Demolición y Reciclado, Mayo 2000-2014.
        </li>
        <li>
            Retema, 2004, 2015
        </li>
        <li>
            Televisión de Aragón, 2006, 2009
        </li>
        <li>
            Guía Española de Aridos Reciclados 2013
        </li>
        <li>
            Hormigón con áridos reciclados, 2012
        </li>
        <li>
            Manual de Buenas Practicas para Ayuntamientos 2014
        </li>
        <li>
            Desde 2010 más de 30 Publicaciones en libros y revistas..
        </li>
        <li>
            Entrevista RNE 2015 “Ciudadano García”
        </li>
        <li>
            Economía Circular para los RCD , IECA 2016
        </li>
        <li>
            Ignacio Tertre, Google, 2300 referencias.
        </li>
    </ul>
    <p>
        Profesor experto en RCD
    </p>
    <p>
        PABLO ANDRÉS GONZÁLEZ GOMÉZ
    </p>
    <p>
        Experiencia profesional:
    </p>
    <p>
        Director del Área de Medio Ambiente en la planta de reciclado de RCD en
        Tecnología y Reciclado 2005 – 2009.
    </p>
    <ul>
        <li>
            Responsable de planta de tratamiento de RCD mezclados.
        </li>
        <li>
            Responsable de laboratorio de áridos en planta.
        </li>
        <li>
            Responsable de marcado CE de los áridos reciclados.
        </li>
        <li>
            Responsable de la implantación de las normas de medio ambiente ISO
            14.001 y EMAS
        </li>
        <li>
            Responsable de prevención de riesgos laborales
        </li>
    </ul>
    <p>
        Director técnico de la asociación de la zona centro de empresas de
        reciclaje de residuos de construcción y demolición AGESCAM
    </p>
    <p>
        2007-2010
    </p>
    <ul>
        <li>
            Interlocutor con las administración (Comunidades Autónomas y
            Ayuntamientos)
        </li>
        <li>
            Denuncias de actividades ilegales.
        </li>
        <li>
            Asesoramiento en tramites ambientales a los asociados.
        </li>
    </ul>
    <p>
        Responsable de proyectos en la Ingeniería 3 RECYCLING. 2010 - 2015
    </p>
    <ul>
        <li>
            Elaboración de planes de gestión de RCD en obras.
        </li>
        <li>
            Proyectos de reciclaje de RCD en Haiti después del terremoto.
        </li>
        <li>
            Estudio de gestión de residuos en diferentes países.
        </li>
    </ul>
    <p>
        Responsable técnico en la Asociación Española de Reciclaje de RCD, RCD
        Asociación (2015-Actual).
    </p>
    <ul>
        <li>
            Ayuda a asociados en temas técnicos de reciclaje de RCD.
        </li>
        <li>
            Implantación de marcados CE en plantas de asociados.
        </li>
        <li>
            Redacción de artículos sobre reciclaje de RCD.
        </li>
        <li>
            Elaboración de denuncias sobre actividades ilegales de gestión de RCD.
        </li>
        <li>
            Comunicación con la administración sobre temas relacionados con los
            RCD.
        </li>
        <li>
            Elaboración de informes estadísticos sobre el reciclado de RCD en
            España.
        </li>
    </ul>
    <p>
        Formación Académica:
    </p>
    <ul>
        <li>
            Licenciado en biología en La universidad Santiago de Cali (Colombia)
        </li>
        <li>
            Master en gestión y tratamiento de residuos sólidos y líquidos
            Universidad Autónoma de Madrid.
        </li>
        <li>
            Master en prevención y riesgos laborales instituto madrileño de
            formación
        </li>
        <li>
            Curso de Análisis de laboratorio de áridos en el CEDEX (Ministerio de
            Fomento)
        </li>
    </ul>
  </div>
</div>
