<div id="professorate" class="row">
  <div class="col-lg-3 text-center professor-image" >
    <%= image_tag 'professor2.png', class: "img-circle img-professor" %>
    <h3> Pablo Andrés González Gómez</h3>
    <h4>Profesor experto en RCD</h4>
  </div>
  <div class="col-lg-9">
        Experiencia profesional:
    </p>
    <p>
        Director del Área de Medio Ambiente en la planta de reciclado de RCD en
        Tecnología y Reciclado 2005 – 2009.
    </p>
    <ul>
        <li>
            Responsable de planta de tratamiento de RCD mezclados.
        </li>
        <li>
            Responsable de laboratorio de áridos en planta.
        </li>
        <li>
            Responsable de marcado CE de los áridos reciclados.
        </li>
        <li>
            Responsable de la implantación de las normas de medio ambiente ISO
            14.001 y EMAS
        </li>
        <li>
            Responsable de prevención de riesgos laborales
        </li>
    </ul>
    <p>
        Director técnico de la asociación de la zona centro de empresas de
        reciclaje de residuos de construcción y demolición AGESCAM
    </p>
    <p>
        2007-2010
    </p>
    <ul>
        <li>
            Interlocutor con las administración (Comunidades Autónomas y
            Ayuntamientos)
        </li>
        <li>
            Denuncias de actividades ilegales.
        </li>
        <li>
            Asesoramiento en tramites ambientales a los asociados.
        </li>
    </ul>
    <p>
        Responsable de proyectos en la Ingeniería 3 RECYCLING. 2010 - 2015
    </p>
    <ul>
        <li>
            Elaboración de planes de gestión de RCD en obras.
        </li>
        <li>
            Proyectos de reciclaje de RCD en Haiti después del terremoto.
        </li>
        <li>
            Estudio de gestión de residuos en diferentes países.
        </li>
    </ul>
    <p>
        Responsable técnico en la Asociación Española de Reciclaje de RCD, RCD
        Asociación (2015-Actual).
    </p>
    <ul>
        <li>
            Ayuda a asociados en temas técnicos de reciclaje de RCD.
        </li>
        <li>
            Implantación de marcados CE en plantas de asociados.
        </li>
        <li>
            Redacción de artículos sobre reciclaje de RCD.
        </li>
        <li>
            Elaboración de denuncias sobre actividades ilegales de gestión de RCD.
        </li>
        <li>
            Comunicación con la administración sobre temas relacionados con los
            RCD.
        </li>
        <li>
            Elaboración de informes estadísticos sobre el reciclado de RCD en
            España.
        </li>
    </ul>
    <p>
        Formación Académica:
    </p>
    <ul>
        <li>
            Licenciado en biología en La universidad Santiago de Cali (Colombia)
        </li>
        <li>
            Master en gestión y tratamiento de residuos sólidos y líquidos
            Universidad Autónoma de Madrid.
        </li>
        <li>
            Master en prevención y riesgos laborales instituto madrileño de
            formación
        </li>
        <li>
            Curso de Análisis de laboratorio de áridos en el CEDEX (Ministerio de
            Fomento)
        </li>
    </ul>
  </div>
</div>
