<div id="professorate" class="row">
  <div class="col-xs-12" >
    <div class="master-name">
      Profesorado
    </div>
  </div>
</div>

<%= render 'professorate_1' %>
</br>
</br>
</br>
<%= render 'professorate_2' %>
