<div class="row">
  <div class="col-xs-12" >
    <div id="master-name">
      Curso Online de Gestión de Residuos de Construcción y Demolición (RCD)
    </div>
  </div>
</div>

<div class="row">
  <div id="video-presentation" class="col-lg-5 col-xs-12 text-center" >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oyk21afdCjk" frameborder="0" gesture="media" allowfullscreen width="100%"></iframe>
    </div>
  </div>

  <div class="col-lg-7 col-xs-12" >
    <h3>Consectetur iaculis</h3>
    <p>Suspendisse potenti. Phasellus egestas quam commodo, tincidunt tortor non, rutrum dui.
      Duis orci tellus, hendrerit eu justo in, vestibulum rhoncus nisl.
      Nulla urna felis, dignissim ut ornare vel, ornare eget lorem.
      Quisque porta finibus ex quis venenatis.
      Sed turpis augue, vehicula quis ante non, consectetur iaculis mauris.
      Quisque semper rutrum lorem, sit amet condimentum elit ultrices non.
    </p>
    <p>Cras mollis ipsum elit, non fermentum enim ultricies sed.
      Proin eu erat eleifend, viverra massa in, congue purus.
      Vestibulum sollicitudin consequat urna, ac eleifend felis posuere et.
      Fusce posuere eu ante vitae scelerisque. Donec at congue diam, vitae elementum diam.
      Proin mollis odio a felis placerat efficitur. Vivamus lorem neque, dapibus ac rhoncus quis, eleifend at nisi.
      Vivamus venenatis lacinia maximus. Praesent ac tempus purus, sed tincidunt eros.
      Curabitur eu lectus felis.
      Nulla magna felis, consequat et urna et, placerat laoreet ligula.
      Integer nisi elit, imperdiet sed mauris a, suscipit sagittis metus.
    </p>
    <h3>Felis placerat efficitur</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur maximus eu lacus id tempor.
    </p>

  </div>
</div>
