<p>Hola <%= @user.name %>!</p>

<%= @user.mode.email_content.html_safe %>

<p>Puedes confirmar tu correo pinchando en el siguiente enlace:</p>

<%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %>
<p>Acto seguido serás redirigido a la plataforma de pago para finalizar tu incripción</p>

<p>Si te has incrito en en el curso de 30 horas (Técnicos de Administración Pública), por favor envía un correo a tutorias@rcdasociacion
con asunto "Inscripción" indicando la empresa o administración que subvenciona el curso</p>


<p>!Muchas gracias!</p>
